<div ng-controller="priceDetailCtrl" class="bg-white">
				<div class="wrapper-md" id="createScreen">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">

                            <div class="btn-group btn-group-md" style="float:right">
                
                                <button ng-click="showPricePrint()" class="btn btn-info ">
                                <i class="icon-envelope"></i>Print</button>     
                                
                                <button ng-show="price.REQUEST_STATUS != 'Complete' && price.REQUEST_STATUS != 'Ordered' && price.REQUEST_STATUS != 'EXPIRED'" ng-click="changePriceRequest({id:request_id})" class="btn  btn-success ">
                                <i class="fa fa-edit"></i>Change</button>
                                
                                <button ng-show="price.REQUEST_STATUS != 'Complete' && price.REQUEST_STATUS != 'Ordered' && price.REQUEST_STATUS != 'EXPIRED'" ng-click="approvePriceRequest({id:request_id})" class="btn  btn-success ">
                                <i class="fa fa-edit"></i>Approve</button>

                                <button ng-hide="price.REQUEST_STATUS == 'Ordered'" ng-click="rejectPriceRequest({id:request_id})" class="btn btn-danger ">
                                <i class="fa fa-edit"></i>Delete</button>
                                
                                <!--<button ng-click="copyPriceRequest({id:request_id})" class="btn  btn-success ">
                                <i class="fa fa-edit"></i>Copy</button>
                                
                                <button ng-show="price.REQUEST_STATUS == 'Complete'" ng-click="editPriceRequest({id:request_id})" class="btn  btn-info ">
                                <i class="fa fa-edit"></i>Edit</button>-->
                                
                                <a ng-show="price.REQUEST_STATUS == 'Complete'" ui-sref="app.orderCreate({id:request_id})" class="btn btn-success ">
                                    <i class="fa fa-edit"></i>Place Order</a>
                                
                                <a class="btn btn-default hidden-xs" data-ng-click="cancel()">Back</a>                                           
                  			</div>
                            
                            
							<div class="page-header" style="margin-top:0px">
                                  <span class="m-n h1 hidden-xs">Quote for: <a ui-sref="app.accountDetail({id:price.CUSTOMER})" class="text-info font-bold">{{price.NAME}} ({{price.CUSTOMER}})</a></span>
                                  <span class="m-n h3 visible-xs">Quote for: <a ui-sref="app.accountDetail({id:price.CUSTOMER})" class="text-info font-bold">{{price.NAME}} ({{price.CUSTOMER}})</a></span>
                                  
                                
							</div>
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
                       <div class="row">
    
                        <div class="col-sm-4">
                          
                          
                          <table class="table table-condensed">

														<tbody>
                                                            
                                                            <tr>
																<td>Quote#</td>
																<td>
                                                                     {{request_id}}  
                                                                </td>
															</tr>
                                                            
                                                            <tr>
																<td>Effective Date</td>
															    <td>
                                                                        {{price.EFFECTIVE_DATE}}
                                                                </td>
															</tr>
                                                            
                                                            
                                                           <tr>
																<td>Expiration Date</td>
															    <td>
                                                                        {{price.EXPIRATION_DATE}}
                                                                </td>
															</tr>
                
                                                        </tbody>
													</table>
                                                    
                                </div>
                                
                                <!--<div class="col-sm-3">
                          
               
                
                                          <div class="r bg-white-only item hbox no-border">
                                            <div class="col w-xs v-middle">
                                                <div><span style="margin-left:15px">
                                                          <span class="fa-stack fa-2x">
                                                            <i class="fa fa-circle fa-stack-2x text-success"></i>
                                                            <i class="fa fa-money fa-stack-1x text-white"></i>
                                                          </span>
                                                    </span></div>
                                            </div>
                                            <div class="col padder-v r-r">
                                              <div class="text-success-dk font-thin h1"><span class="ng-binding">$ {{totalRevenue}}</span></div>
                                              <span class="">Total Revenue</span>
                                            </div>
                                          </div>
                                    
                                    
                                            <br>
                                            <b>Comments:</b>{{price.HEADER_TEXT}}
                                            <br>
                                            <b>Status:</b> {{price.REQUEST_STATUS}}
                                    
                                </div>-->
                           
                <div class="col-sm-2" style="margin-top:-20px">

              </div>
                           
        <!--<div class="col-sm-4" style="margin-top:-20px">
               <canvas id="foo"></canvas>              
        </div>-->
                           
        <div class="col-sm-6" style="margin-top:-20px">
              <table class="table table-condensed">

                  <tbody>
                      
                    <tr>
                            <td>
                                <div class="panel item" style="opacity:.7">
                                <div class="h2 text-success font-thin h2 ng-binding">$ {{totalRevenue}}</div>
                                <span class="">Total Price</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td> <div class="panel  item" style="opacity:.7">
                                <div class="h2 text-default font-thin h1 ng-binding float-right">{{price.REQUEST_STATUS}}</div>
                            <span class="">Quote Status</span>
                            </div></td>

                        </tr>
                                                            
                    </tbody>
                    </table>        
        </div>
                           
        </div>
                                           
                       
                        <!--<div class="row">
    
                        <div class="col-sm-12">
                            
	                   <table class="table table-condensed table-hover">
                            <tbody>
                            <tr>
                                <td>Comments</td>
                                <td>
                                   <div class="col-sm-10">
                              <input type="text" id="hdrText" class="form-control" data-ng-model="priceHeader.Comments">
                                </div>
                                
                                </td>
                            </tr> 
  									</tbody>
													</table>
                    
                            </div>
                                               
                        </div>-->
                    
                    
                       <div class="row">

                        <div class="col-sm-9">
                            <table id="priceItems" class="table responsive" wt-responsive-table>
                                <thead>
                                    <tr>
									<th>Item Nbr</th>
                                    <th>Product</th>
                                    <th>Sales Quantity</th>
                                    <th>Unit Price</th>
                                     <th>Total Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in priceDetails">

                                    <td class="" style="width:60px">
                                        {{item.ITM_NUMBER}}
                                    </td>
       
                                    <td>{{item.PRODUCT}}
                                    <br><small>{{item.MATERIAL}}</small>
                                    </td> 
                                    <td> {{item.EXPECTED_SALES}}</td>
                                    <td>{{item.BID_PRICE}}</td>
                                    <td>$ {{item.EXPECTED_REVENUE}}</td>
                                </tr>
                               </tbody>
                            </table>
                           </div>
                        <div class="col-sm-3">
                        <br>
                        <strong>Configuration</strong>
                        <table class="table table-condensed">
                    <tbody>
                        
                     <tr ng-show="configuration.PRODUCT_LINE">
                        <td>Product Line</td>
                        <td>{{configuration.PRODUCT_LINE}}</td>
                    </tr>
                        
                     <tr ng-show="configuration.UNIT_TYPE">
                        <td>Unit Type</td>
                        <td>{{configuration.UNIT_TYPE}}</td>
                    </tr>
                        
                     <tr ng-show="configuration.TOTAL_LENGTH">
                        <td>Total Length</td>
                        <td>{{configuration.TOTAL_LENGTH}} feet</td>
                    </tr>
            
                     <tr ng-show="configuration.HEIGHT">
                        <td>Height</td>
                        <td>{{configuration.HEIGHT}}"</td>
                    </tr>
                        
                     <tr ng-show="configuration.BASE_DEPTH">
                        <td>Base Depth</td>
                        <td>{{configuration.BASE_DEPTH}}"</td>
                    </tr>
                        
                     <tr ng-show="configuration.BACKING">
                        <td>Backing</td>
                        <td>{{configuration.BACKING}}</td>
                    </tr>
            
                     <tr ng-show="configuration.SHELF_TYPE">
                        <td>Shelf Type</td>
                        <td>{{configuration.SHELF_TYPE}}</td>
                    </tr>
                        
                     <tr ng-show="configuration.SHELF_COUNT">
                        <td>Shelf Count</td>
                        <td>{{configuration.SHELF_COUNT}}</td>
                    </tr>
            
                     <tr ng-show="configuration.SHELF_DEPTH">
                        <td>Shelf Depth</td>
                        <td>{{configuration.SHELF_DEPTH}}"</td>
                    </tr>
                        
                     <tr ng-show="configuration.COLOR">
                        <td>Color</td>
                        <td>{{configuration.COLOR}}</td>
                    </tr>
            
                     <tr ng-show="configuration.CONFIG_QTY">
                        <td>Quantity</td>
                        <td>{{configuration.CONFIG_QTY}}</td>
                    </tr>
                        
                        
                   </tbody>
            </table>
                    </div>
                           
                       </div>
			
            		</div>

            
    <div class="bg-white-only wrapper-md" id="pricePrintScreen">

        <div class="bg-light lter b-b wrapper-md hidden-print">
            
          <a href class="btn btn-sm btn-info pull-right" ng-click="window.print();">Print</a>
            <a href class="btn btn-sm btn-default pull-right " ng-click="hidePricePrint();">Close</a>
          <h1 class="m-n font-thin h3">Price Quote</h1>
        </div>
        <div class="wrapper-md">
          <div>
            <!--<i class="fa fa-apple fa fa-3x"></i>-->
              <img src="http://supermarketsource.com/images/logo_header.png" height="70px">
            <div class="row">
              <div class="col-xs-6">
                <h4>Supermarket Source Inc.</h4>
                <p><a href="http://www.primesourcebp.com">www.supermarketsource.com.com</a></p>
                <p>2741 W 76th St<br>
                  Hialeah, FL 33016<br>
                </p>
                <p>
                  Telephone: +1(305) 827-4700<br>
                </p>
              </div>
              <div class="col-xs-6 text-right">
                <p class="h4">Quote #{{request_id}}</p>
                <h5>{{price.EFFECTIVE_DATE}}</h5>           
              </div>
            </div>
            <div class="well m-t bg-light lt">
              <div class="row">
                <div class="col-xs-6">
                  <strong>SOLD TO:</strong>
                  <h4>{{price.NAME}} ({{price.CUSTOMER}})</h4>
                  <p>
                    {{soldTo.CITY}}<br>
                    {{soldTo.REGION}}<br>
                  </p>
                </div>
                <div class="col-xs-6">
                  <strong>SHIP TO:</strong>
                  <h4>{{price.NAME}} ({{price.CUSTOMER}})</h4>
                  <p>
                    {{soldTo.CITY}}<br>
                    {{soldTo.REGION}}<br>
                  </p>
                </div>
              </div>
            </div>
            <p class="m-t m-b">Quote Effective Date: <strong>{{price.EFFECTIVE_DATE}}</strong><br>
                Quote status: <span class="label bg-success">{{price.REQUEST_STATUS}}</span><br>
                Quote ID: <strong>#{{request_id}}</strong>
            </p>
            <div class="line"></div>
            <table class="table table-striped bg-white b-a">
              <thead>
                <tr>
                  <th>ITEM</th>
                  <th>PRODUCT</th>
                  <th>SKU</th>
                  <th style="width: 60px">EXPECTED SALES</th>
                  <th style="width: 140px">QUOTED PRICE</th>
                  <th style="width: 90px">EXPECTED TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in priceDetails">
                  <td>{{item.ITM_NUMBER}}</td>
                  <td>{{item.PRODUCT}}</td>
                  <td>{{item.MATERIAL}}</td>
                  <td>{{item.EXPECTED_SALES}}</td>
                  <td>$ {{item.BID_PRICE}} </td>
                  <td>$ {{item.EXPECTED_REVENUE}}</td>
                </tr>
                <tr>
                  <td colspan="5" class="text-right"><strong>Subtotal</strong></td>
                  <td>${{totalRevenue}}</td>
                </tr>
                <tr>
                  <td colspan="5" class="text-right no-border"><strong>Shipping</strong></td>
                  <td>TBD</td>
                </tr>
                <tr>
                  <td colspan="5" class="text-right no-border"><strong>Total Estimate</strong></td>
                  <td><strong>${{totalRevenue}}</strong></td>
                </tr>
              </tbody>
            </table>              
          </div>
        </div>
        
    </div>
    
</div> <!-- end of controller -->

