﻿<div ng-controller="orderDetailCtrl">
        <div class="row wrapper-md">
         <div class="col-sm-8 col-xs-12">
          <h1 class="m-n h1">Sales Order: {{order_id}} - {{order.ShipToName}}</h1>
         </div>
            
             <div class="col-sm-4 text-right hidden-xs">
                        <button class="btn m-b-xs w-xs btn-success">Back</button>
                        <button class="btn m-b-xs w-xs btn-danger">Edit</button>
              </div>                        
        </div> <!-- end of row -->

		
       <div style="margin-left:30px;">
           <div class="row">

                    <div class="col-sm-6">
              
              <table class="table table-condensed table-hover">

                                            <tbody>
                                                <tr>
                                                    <td>Order Number</td>
                                                    <td>{{order_id}}
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Sold To</td>
                                                    <td>{{order.SoldToName}}
                                                    </td>
                                                </tr>
                                                                                                            
                                                <tr>
                                                    <td>Well Site</td>
                                                    <td>{{order.WellSiteText}}
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>PO Number</td>
                                                    <td>{{order.Bstnk}}
                                                    </td>
                                                </tr>



                                                <tr>
                                                    <td>Supply Base</td>
                                                    <td>{{order.Werks}}
                                                    </td>
                                                </tr> 
                                                
                                                <tr>
                                                    <td>Total Value</td>
                                                    <td>${{order.Netwr}}
                                                    </td>
                                                </tr>  

                                                
                                                                                                            
                                            </tbody>
                                        </table>
                                        
                    </div>
                    
                    <div class="col-sm-6">
              
                            <table class="table table-condensed table-hover">

                                            <tbody>
                                                <tr>
                                                    <td>Quote Number</td>
                                                    <td>{{order.Vgbel}}
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Status</td>
                                                    <td>Proc: {{order.ProcStatus}}<br />Delivery:{{order.DelvryStatus}}<br />Billing:{{order.BillStatus}}
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Created</td>
                                                    <td>{{order.ErdatFormatted}} 
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Supply Base</td>
                                                    <td>{{order.BaseName}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Text</td>
                                                    <td>{{order.EdiHdrText}}
                                                    </td>
                                                </tr>
                                                                                                                                                                          
                                            </tbody>
                                        </table>
                                        
                    </div>
           </div>
           
           <div class="row" style="margin-right:20px">

             <table id="orderItems" class="table table-striped m-b-none"> <!--class="table table-striped table-bordered">-->
                    <tr>

                        <th>Item</th>
                        <th>Material</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>Req Del Date</th>
                        <th>Base</th>
                        <th>iCat</th>
                        <th>Taxes</th> 
                        <th>Rej Rsn</th> 
                        <th>Freight</th>
                        <th>Av Check</th> 
                        <th>Notes</th>                    
                    </tr>
                    
                    <tr ng-repeat="item in orderDetails">

                        <td>{{item.Posnr}}</td>
                        <td>{{item.Matnr}} {{item.Arktx}}</td>
                        <td>{{item.Kwmeng}} {{item.Vrkme}}</td>
                        <td>${{item.Netwr}}</td>
                        <td>status</td>
                        <td>Req Del Date</td>
                        <td>{{item.Werks}} {{item.WerksText}}</td>
                        <td>{{item.Pstyv}} {{item.PstyvText}}</td>
                        <td>{{item.Taxm1}} {{item.Taxm1Text}}</td> 
                        <td>{{item.AbgruText}}</td> 
                        <td>Freight</td>
                        <td>Av Check</td> 
                        <td>{{item.ItmText}}</td>  
                        </tr>
            
                </table>

                

           </div>

        </div>

</div>

