<div ng-controller="priceBookCtrl">
<div class="wrapper-md" id="priceBookScreen">
        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h1 class="m-n h1">Price Book</h1>
         </div>
            
         <div class="col-sm-4 text-right hidden-xs">
                  <a class="btn m-b-xs w-xs btn-default btn-rounded" data-ng-click="cancel()">Back</a>
         </div>  
        </div> <!-- end of row -->
                  
<!--</div>-->

<div class="wrapper-md bg-white-only">

    <div class="b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
        
       <!-- {{selectedCustomer}} {{selectedCustomerName}}
        <a class="btn btn-md btn-default btn-rounded" ng-click="showCustomerList()"><i class="fa fa-plus"></i>
        Filter Customer</a>

        {{selectedMaterial}} {{selectedMaterialName}}
        <a class="btn btn-md btn-default btn-rounded" ng-click="showMaterialList()"><i class="fa fa-plus"></i>
        Filter Material</a>

        <a id="" class="btn  btn-default btn-rounded" data-ng-click="clearFilter()"><i class="fa clip-plus "></i>
            Clear Filter</a>-->
        
    </div>
    <div>
      <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="99999">
        <thead>
    
              <tr>

                <th>Sold To</th>
                  <th>Ship To</th>
                  <th>Location</th>
                <th>Product</th>
                <th>Current Price</th>
                  <th>Effective Date</th>
                  <th>Expiration Date</th>
                <th>Target Price</th>
                  <th>Quote Score</th>
                  <th>Changed By</th>
                 <!--<th>Request Nbr</th>   
                <th>Price Type</th> -->                

              
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in filteredMaterials">
                    
                    <td>{{item.SOLD_TO_NAME}} <br>({{item.SOLD_TO}})</td>
                    <td>{{item.SHIP_TO_NAME}} <br>({{item.SHIP_TO}})</td>
                    <td>{{item.CUSTOMER_CITY}} {{item.CUSTOMER_REGION}}</td>
                    <td>{{item.MATERIAL}} - {{item.DESCRIPTION}}</td>
                    <td>{{item.CSP_PRICE}} {{item.CSP_UOM}}</td>
                   <td>{{item.CSP_EFF_DATE}}</td>
                   <td>{{item.CSP_EXP_DATE}}</td>
                    <td>{{item.TARGET_PRICE}}</td>
                    <td>{{item.TPI}} %</td>

                    <td>{{item.CHANGED_BY}}</td>


                   
                </tr>
		</tbody>

      </table>
    </div>
  </div>
</div>
    
<div class="bg-white-only wrapper-md" id="customerListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h1 class="m-n h1">My Customers</h1>
         </div>
            
         <div class="col-sm-4 text-right hidden-xs">
                  <a class="btn m-b-xs w-xs btn-default btn-rounded" data-ng-click="closeCustomerList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
            

    <div class="b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
    <div>
      <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="99999">
        <thead>
    
              <tr>
              <th data-toggle="true">
  
              </th>
                <th>Customer</th> 
                <th>Name</th>     
                <th>City</th> 
                <th>State</th>  
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in customerList">    
                    <td class="">
                             <!--<button id="{{item.Customer}}" ng-click="selectCustomer({id:item.Customer})" class="btn btn-xs btn-default tooltips">-->
                    <button id="{{item.CUSTOMER}}" ng-click="selectCustomer({id:item})" class="btn btn-xs btn-default btn-rounded">
                            <i class="fa fa-edit"></i>Select</button>
                     </td>
                    <td>{{item.CUSTOMER}}</td>
                    <td class="description">{{item.CUSTOMER_NAME}}</td> 
                   <td class="description">{{item.CITY}}</td>   
                   <td class="description">{{item.REGION}}</td>   
                </tr>
		</tbody>
      </table>
    </div>
</div>
    
    
<div class="bg-white-only wrapper-md" id="materialListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h1 class="m-n h1">Materials</h1>
         </div>
            
         <div class="col-sm-4 text-right hidden-xs">
                  <a class="btn m-b-xs w-xs btn-default btn-rounded" data-ng-click="closeMaterialList();">Back</a>
         </div>                        
        </div> 
            

    <div class="b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
    <div>
      <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="99999">
        <thead>
    
              <tr>
              <th data-toggle="true">
  
              </th>
                <th>Material</th> 
                <th>Description</th>                                
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in materialList">    
                    <td class="">
                    <button id="{{item.MATERIAL}}" ng-click="selectMaterial({id:item})" class="btn btn-xs btn-default btn-rounded">
                    <i class="fa fa-edit"></i>Select</button>
                     </td>
                    <td>{{item.MATERIAL}}</td>
                    <td class="description">{{item.DESCRIPTION}}</td>                        
                </tr>
		</tbody>
      </table>
    </div>
</div>
    
</div>