<div class="bg-white-only wrapper-sm" ng-controller="priceListCtrl">

    <div class="row">
        
        <div class="col-sm-8" style="">
    
              <div class="r bg-white-only item hbox no-border" ui-sref="app.priceList()">
                <div class="col w-xs v-middle">
                    <div><span style="margin-left:15px">
                             <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-info"></i>
                                <i class="fa fa-book fa-stack-1x text-white"></i>
                              </span>
                        </span></div>
                </div>
                <div class="col padder-v r-r">
                  <div class="text-default-dk font-thin h1 hidden-xs"><span class="ng-binding">Recently Expired Quotes</span></div>
                    <div class="text-default-dk font-thin h3 visible-xs"><span class="ng-binding">Recently Expired Quotes <small>(last 90 days)</small></span></div>
                  <span class="">{{app.priceRequestFiltered.length}} Total</span>
                </div>
              </div>
            </div>
                <div class="col-sm-3  hidden-xs hidden-sm">
                                Search: <input id="filter" type="text" ng-model="search" class="form-control input-sm w-sm inline m-r"/>
                </div>
        
             <div class="col-sm-1 hidden-xs">
                <a class="btn m-b-xs btn-default" data-ng-click="cancel()">Back</a>
             </div>
            

        </div>  
        
    </div>

    <div class="bg-white-only">

    <div>
        <table class="table table-condensed">
        <thead>
    
              <tr>
              <th class="hidden-xs">
                Price Quote
              </th>
                <th>Account</th>
                <th>Opportunity</th>
                <th>Expiration Date</th>
                <th class="hidden-xs">Expected Sales</th>
                <th class="hidden-xs" ng-show="app.settings.commissions == true">Commission</th>
                <th class="hidden-lg"></th>
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in app.priceRequestFiltered | filter:search">
   
                    <td class="hidden-xs">
                           <a ui-sref="app.priceDetail({id:item.PRICE_REQUEST})" class="btn btn-sm btn-default btn-rounded hidden-xs hidden-sm hidden-md">
                            <i class="fa fa-edit"></i></a>&nbsp; {{item.PRICE_REQUEST}}
                     </td>
                   <td ui-sref="app.priceDetail({id:item.PRICE_REQUEST})">{{item.NAME}} <br>({{item.CUSTOMER}})</td>
                   <td>
                       <a ui-sref="app.opportunityDetail({id:item.OPPORTUNITY_NUM})" class="text-info font-bold">    {{item.OPPORTUNITY_NAME}}</a>
                   </td>
                    <!--<td ui-sref="app.priceDetail({id:item.PRICE_REQUEST})"><h4><span class="label label-lg label-{{item.TPI_CLASS}}">{{item.QUOTE_SCORE_HDR}} %</span></h4></td>-->
                   <td>{{item.EXPIRATION_DATE}}</td>

                    <td class="hidden-xs">{{item.TOTAL_VALUE_HDR}} {{item.BID_PRICE_UOM}}</td>
                    <td class="hidden-xs" ng-show="app.settings.commissions == true">$ {{item.COMMISSION_HDR}}</td>    
                     <td class="hidden-lg"><a ui-sref="app.priceDetail({id:item.PRICE_REQUEST})">
                            <i class="fa fa-angle-right fa-2x"></i></a>
                      </td>                   
                </tr>
		</tbody>
      </table>
    </div>
  </div>
