<div ng-controller="priceCreateCtrl" class="bg-white">
				<div class="wrapper-md" id="createScreen">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">

                            <div  class="btn-group btn-group-md" style="float:right">
                            	 <a id="" data-ng-click="cancel()" class="btn  btn-default">
                    			Cancel</a>                                           
                  			</div>
                            
                            <div ng-show="priceScenario != 'EDIT'" class="btn-group btn-group-md" style="float:right">
                            	 <a id="" data-ng-click="savePrice()" class="btn  btn-success">
                    			Submit Quote</a>                                           
                  			</div>
                            
                            <div ng-show="priceScenario == 'EDIT'" class="btn-group btn-group-md" style="float:right">
                            	 <a id="" data-ng-click="savePriceChange()" class="btn  btn-success">
                    			Save Edit</a>                                           
                  			</div>
                            
                            
							<div class="page-header" style="margin-top:0px">         
                              <span class="m-n h1 hidden-xs" ng-if="priceScenario == 'CREATE'">Create Price Quote</span>
                                
                              <span class="m-n h1 hidden-xs" ng-if="priceScenario == 'COPY'">Create Price Quote</span>
                                
                              <span class="m-n h1 hidden-xs" ng-if="priceScenario == 'EDIT'">Edit Price Quote</span>
                                
                              <span class="m-n h3 visible-xs" ng-if="priceScenario == 'CREATE'">Create Price Quote</span>
                                
                            <span class="m-n h3 visible-xs" ng-if="priceScenario == 'COPY'">Create Price Quote</span>
                                
                            <span class="m-n h3 visible-xs" ng-if="priceScenario == 'EDIT'">Edit Price Quote</span>
                                

							</div>
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
                       <div class="row">
    
                        <div class="col-sm-6">
                          
                          
                          <table class="table table-condensed">

														<tbody>
                                                            
                                                                    
                                                            <tr>
																<td>1) Choose Customer</td>
																<td>
                                                                	<div class="col-sm-6" ng-show="soldToName">
                                                                        {{soldToName}} ({{soldTo}})
                                                                    </div>

                                                                    <a class="btn btn-green btn-default btn-rounded" ng-click="showSoldToList()"
                                                                       ng-hide="priceScenario == 'EDIT' || soldTo"><i class="fa fa-plus"></i>
                                                                    Select</a>  
                                                                </td>
															</tr>
                                                            
                                                             <tr>
																<td>2) Distributor PO</td>
																<td>
                                                                    
                            
                                                               <div class="col-sm-8">
                                                               <input type="text" id="base" class="form-control" data-ng-model="priceHeader.PONumber">
                                                                </div>
                                                                    
				
                                                                 
                                                                        <!--<div class="btn-group m-r ng-scope" ng-controller="ButtonsDemoCtrl">
                                                                          <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="requestType" data-ng-click="setPriceType('Configure')"  btn-radio="'Configure'" uncheckable="">Configuration</label>

                                                                          <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="requestType" data-ng-click="setPriceType('Standard')" btn-radio="'Standard'" uncheckable="">Standard</label>

                                                                          <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="requestType" data-ng-click="setPriceType('Consignment')" btn-radio="'Consignment'" uncheckable="">Consignment</label>
                                                                        </div>-->
       
                                                            
                                                                    <!--<div class="btn-group btn-group-md">
                                                                         <a id="" data-ng-click="setPriceType('Configure')" class="btn  btn-default">
                                                                        Configuration</a>
                                                                        
                                                                         <a id="" data-ng-click="setPriceType('Standard')" class="btn  btn-default">
                                                                        Standard</a>    
                                                            
                                                                         <a id="" data-ng-click="setPriceType('Consignment')" class="btn  btn-default">
                                                                        Consignment</a>
                                                                    </div>  -->
                                                                </td>
															</tr>
                                                            
                                                            <tr>
																<td>3) Customer PO</td>
																<td>
                                                                    
                            
                                                               <div class="col-sm-8">
                                                               <input type="text" id="base" class="form-control" data-ng-model="priceHeader.CustomerPO">
                                                                </div>
        
                                                                </td>
															</tr>
                                                            
                                                             <tr>
																<td>Comments</td>
																<td>
                                                                    
                            
                                                               <div class="col-sm-8">
                                                                <a class="btn btn-green btn-default btn-rounded" ng-click="showSoldToList()"
                                                                       ng-hide="priceScenario == 'EDIT' || soldTo"><i class="fa fa-plus"></i>
                                                                    Add Comment</a> 
                                                                </div>
        
                                                                </td>
															</tr>
                                                            
														</tbody>
													</table>
                                                    
                                </div>
                                
                                <div class="col-sm-6">
                          
                          				<table class="table table-condensed">

														<tbody>

                                                   <tr>
																<td>Effective Date</td>
                                                              	<td>                                                                
                                                                <div class="col-sm-12" ng-controller="DatepickerDemoCtrl">
                                                                    <div class="input-group w-sm">
                                                                      <input type="text" class="form-control" id="effectiveDateInput" datepicker-popup="{{dateFormat}}" ng-model="effectiveDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                                                                      <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                      </span>
                                                                    </div>
                                                                </div>

																</td>
															</tr>
                                                            <tr>
																<td>Expiration Date</td>
                                                              	<td>                                                                
                                                                <div class="col-sm-12" ng-controller="DatepickerDemoCtrl">
                                                                    <div class="input-group w-sm">
                                                                      <input type="text" class="form-control" id="expirationDateInput" datepicker-popup="{{dateFormat}}" ng-model="expirationDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" max-date="maxDate"
                                                                             close-text="Close"/>
                                                                      <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                      </span>
                                                                    </div>
                                                                </div>

																</td>
															</tr>

                                                            <tr>
																<td>Requested Del Date</td>
                                                              	<td>                                                                
                                                                <div class="col-sm-12" ng-controller="DatepickerDemoCtrl">
                                                                    <div class="input-group w-sm">
                                                                      <input type="text" class="form-control" id="deliveryDateInput" datepicker-popup="{{dateFormat}}" ng-model="deliveryDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" max-date="maxDate"
                                                                             close-text="Close"/>
                                                                      <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                      </span>
                                                                    </div>
                                                                </div>

																</td>
															</tr>
                                                            
                                                            <tr>
																<td>Shipping Instructions</td>
																<td>
                                                                    
                            
                                                               <div class="col-sm-8">
                                                               <input type="text" id="base" class="form-control" data-ng-model="priceHeader.ShippingInstructions">
                                                                </div>
        
                                                                </td>
															</tr>
														</tbody>
													</table>
                                                    
                                </div>
                      
            </div>
                    
                <div class="row">
                    <div class="col-sm-6" style="margin-top:-20px; margin-left:30px">

                      <div class="panel item" style="opacity:.7">
                        <div class="h2 text-gray font-thin h2 ng-binding ">$ {{totalRevenue}}</div>
                        <span class="">Total Price</span>
                      </div>

                    </div>                                        
                </div>

                                           
                                           
                   <div class="row">

                       <div class="col-xs-6">
                       <a class="btn btn-sm btn-info btn-rounded" style="margin-left:20px"
                                        ng-click="addItems()" ng-show="soldTo"><i class="fa fa-plus"></i>
                                    Add Item</a>
                           
                       <!--<a class="btn btn-sm btn-info btn-rounded" style="margin-left:20px"
                                        ng-click="addItems()" ng-show="soldTo"><i class="fa fa-plus"></i>
                                    Configure Unit</a>-->
                           
                       </div>
                  </div>
                    
                <!-- items data -->
                <div class="row">
                    <div class="col-sm-9">
                        <div class="row">
                        <table id="priceItems" class="table responsive" wt-responsive-table>
                            <thead>
                                <tr>
                                    <th>Actions</th>
                                    <!--<th>Item</th>-->
                                    <th>Type</th>
                                    <th>Material</th>
                                    <th>Description</th>
                                    <th>Sales Quantity</th>
                                    <th>Unit Price $</th>
                                    <th style="width:90px">Total Value $</th>
        

                                </tr>
                                
                        </thead>
                            <tbody>
                                <tr ng-repeat="item in priceDetails | orderBy:'ItemNumber'">
                                    <td>                                        
                                        <a class="btn btn-sm btn-default btn-rounded"  ng-show="soldTo"
                                            ng-click="deleteItem({id:item.ItemNumber})">
                                        <i class="fa fa-trash-o"></i></a>{{item.PARENT_ITEM}} {{item.IS_PARENT_ITEM}}
                                        
                                        <a class="btn btn-sm btn-default btn-rounded" ng-show="item.MATERIAL"
                                            ng-click="materialInfo({id:item.ItemNumber})">
                                        <i class="fa fa-info"></i></a>
                                    </td>
                                    
                                    <td>
                                     {{item.TYPE}}
                                    </td>
 
                                    <td>       
                                        <input type="text" data-ng-model="item.MATERIAL" min="0" ng-change="typeMaterial({id:item.ItemNumber})" ng-show="soldTo" class="form-control rounded"/>
                                                                    
                                        <div ng-show="soldTo">
                                       <a class="btn btn-sm btn-info btn-rounded" ng-hide="item.MATERIAL" ng-click="showMaterialList({id:item.ItemNumber})">
                                        Standard</a>
                                        
                                            <span ng-show="requestType == 'Configure'">
                                         <a class="btn btn-sm btn-info btn-rounded" ng-hide="item.MATERIAL" ng-click="showGuideScreen({id:item.ItemNumber})">
                                             Configure Unit</a></span>
                                        </div>
                                        
                                    </td> 
                                    <td>{{item.DESCRIPTION}}</td>


                                    <!-- quantity -->
                                    <td ng-if="item.IS_CHILD_ITEM != 'X' && item.IS_PARENT_ITEM != 'X'"><input type="text" data-ng-model="item.EXPECTED_SALES" class="form-control rounded" ng-show="item.MATERIAL"/ ng-change="quantityChanged()"></td>
                                    
                                    <td ng-if="item.IS_CHILD_ITEM == 'X' || item.IS_PARENT_ITEM == 'X'">{{item.EXPECTED_SALES}}</td>
                                    
                                    <!--<td><input type="text" data-ng-model="item.BID_PRICE" min="0" ng-show="item.MATERIAL" class="form-control rounded" style="width:70px" ng-change="bidPriceChange({id:item.ItemNumber})">{{item.BID_PRICE_UOM}}              
                                    </td>--><td>{{item.BID_PRICE}}</td>

                                    <td><span ng-show="item.MATERIAL">$ {{item.EXPECTED_REVENUE}}</span></td> 

                                </tr>
                            </tbody>
                            </table>

                        <!-- output data -->
                        <pre id="out" style="visibility:hidden"></pre>
                        

                        

                       </div>
                    </div>
                    <div class="col-sm-3">
                        <br>
                        <strong>Configuration</strong>
                        <table class="table table-condensed">
                    <tbody>
                                                           
                     <tr ng-show="configuration.productLine">
                        <td>Product Line</td>
                        <td>{{configuration.productLine.NAME}}</td>
                    </tr>
                        
                     <tr ng-show="configuration.unitType">
                        <td>Unit Type</td>
                        <td>{{configuration.unitType.NAME}}</td>
                    </tr>
                        
                     <tr ng-show="configuration.aisleLength">
                        <td>Total Length</td>
                        <td>{{configuration.aisleLength}} feet</td>
                    </tr>
            
                     <tr ng-show="configuration.sectionHeight">
                        <td>Height</td>
                        <td>{{configuration.sectionHeight}}"</td>
                    </tr>
                        
                     <tr ng-show="configuration.baseDepth">
                        <td>Base Depth</td>
                        <td>{{configuration.baseDepth}}"</td>
                    </tr>
                        
                     <tr ng-show="configuration.unitBacking">
                        <td>Backing</td>
                        <td>{{configuration.unitBacking}}</td>
                    </tr>
            
                     <tr ng-show="configuration.shelfType">
                        <td>Shelf Type</td>
                        <td>{{configuration.shelfType.NAME}}</td>
                    </tr>
                        
                     <tr ng-show="configuration.shelfCount">
                        <td>Shelf Count</td>
                        <td>{{configuration.shelfCount}}</td>
                    </tr>
            
                     <tr ng-show="configuration.shelfDepth">
                        <td>Shelf Depth</td>
                        <td>{{configuration.shelfDepth}}"</td>
                    </tr>
                        
                     <tr ng-show="configuration.unitColor">
                        <td>Color</td>
                        <td>{{configuration.unitColor}}</td>
                    </tr>
            
                     <tr ng-show="configuration.aisleQuantity">
                        <td>Quantity</td>
                        <td>{{configuration.aisleQuantity}}</td>
                    </tr>
                        
                        
                   </tbody>
            </table>
                    </div>
                </div>
    </div>
                

<!-- ship to customers -->
<div class="bg-white-only wrapper-md" id="customerListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h3 class="m-n h3">My Customer Locations</h3>
         </div>
            
         <div class="col-sm-4 text-right">
                  <a class="btn btn-default btn-round" data-ng-click="closeCustomerList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
            

    <div class="b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
    <div>
        <table class="table table-condensed">
        <thead>
    
              <tr>
              <th data-toggle="true">
              </th>
                <th>Customer</th> 
                <th>Name</th>     
                <th data-hide="phone">City</th> 
                <th data-hide="phone">State</th>  
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in customerList">    
                    <td class="">
                    <button id="{{item.CUSTOMER}}" ng-click="selectCustomer({id:item})" class="btn btn-sm btn-default btn-round">
                            <i class="fa fa-edit"></i>Select</button>
                     </td>
                    <td>{{item.CUSTOMER}}</td>
                    <td class="description">{{item.CUSTOMER_NAME}}</td> 
                   <td class="description">{{item.CITY}}</td>   
                   <td class="description">{{item.REGION}}</td>   
                </tr>
		</tbody>
      </table>
    </div>
</div>
      
<div class="bg-white-only wrapper-md" id="opportunityListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h3 class="m-n h3">My Opportunities</h3>
         </div>
            
         <div class="col-sm-4 text-right">
                  <a class="btn m-b-xs btn-default btn-rounded" data-ng-click="closeOpportunityList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
            
    <div>
        <table class="table table-condensed">
        <thead>
    
              <tr>
                  <th class="hidden-xs">

                  </th>

                  <th>
                      Name
                  </th>
                  <th>
                      Account
                  </th> 
                  <th class="hidden-xs">
                      Phase
                  </th> 
            
              
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in opportunityList" ng-click="selectOpportunity({id:item})">
   
                    <td class="hidden-xs">
                    <button id="{{item.OPPORTUNITYID}}" ng-click="selectOpportunity({id:item})" class="btn btn-xs btn-default tooltips">
                    <i class="fa fa-edit"></i>Select</button>  
                     </td>
                     
                        <td class="description">{{item.OPPORTUNITYNAME}}</td>
                        <td>{{item.CUSTOMERNAME}}</td>
                        <td class="hidden-xs">{{item.SALESPHASECODETEXT}}</td>
                        <td class="hidden-lg">
                            <i class="fa fa-angle-right fa-2x"></i>
                        </td>  
                </tr>
		</tbody>
      </table>

    </div>
</div>
    
<div class="bg-white-only wrapper-md" id="soldToListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h3 class="m-n h3">My Customers</h3>
         </div>
            
         <div class="col-sm-4 text-right">
                  <a class="btn m-b-xs btn-default btn-rounded" data-ng-click="closeSoldToList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
         
    <div class="row">
        <div class="b-b b-light col-sm-4">
          Search: <input id="filter" type="text" ng-model="search" class="form-control input-sm w-sm inline m-r"/>
        </div>
    </div> 

    <div>
        <table class="table table-condensed">
        <thead>
    
              <tr>
                <th class="hidden-xs">
                </th>
                <th>Name</th> 
                <th>City</th> 
                <th class="hidden-xs">State</th> 
                <th >Customer</th> 
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in customerList | filter:search" ng-click="selectSoldTo({id:item})"> 
                    <td class="hidden-xs">
                    <button id="{{item.CUSTOMER}}" class="btn btn-sm btn-default btn-rounded">
                            <i class="fa fa-edit"></i>Select</button>
                     </td>
                    <td>{{item.CUSTOMER_NAME}}</td>  
                   <td>{{item.CITY}}</td>   
                   <td class="hidden-xs">{{item.REGION}}</td>   
                    <td>{{item.CUSTOMER}}</td>
                     <td class="hidden-lg"><a ui-sref="app.priceDetail({id:item.PRICE_REQUEST})">
                            <i class="fa fa-angle-right fa-2x"></i></a>
                      </td>  
                </tr>
		</tbody>
      </table>
    </div>
</div>
    
<div class="bg-white-only wrapper-md" id="materialListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h3 class="m-n h3">Materials for Supermarket Source </h3>
         </div> 
            
         <div class="col-sm-4 text-right">
                  <a class="btn m-b-xs btn-default btn-rounded" data-ng-click="closeMaterialList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
            
    <div class="row">
        <!--<div class="b-b b-light col-sm-3">
          Scan: <input id="scanInput" type="text" data-ng-model="scannedMaterial" ng-change="scanMaterial()" class="form-control input-sm w-sm inline m-r"/>
        </div>-->

        <div class="b-b b-light col-sm-3" ng-show="topMaterials == true">
          Search: <input id="filter" type="text" ng-model="searchMaterial" class="form-control input-sm w-sm inline m-r"/>
        </div>
        
        <!-- filter for full material list -->
        <div class="b-b b-light col-sm-3" ng-show="allMaterials == true">
          Search: <input id="filter" type="text" data-ng-model="filterValue" ng-change="filter()" class="form-control input-sm w-sm inline m-r"/>
        </div>
        
         <div class="col-sm-6 text-right" class="btn-group btn-group-md" style="float:right">
                  <a class="btn  btn-default" data-ng-click="showTopMaterials();">View Top Materials</a>

                  <!--<a class="btn  btn-default" data-ng-click="showAllMaterials();">View Full Catalog</a>-->
         </div> 
    
        
    </div>    
    
    <div ng-show="topMaterials == true">
        <table class="table table-condensed">
        <thead>
              <tr>
              <th class="hidden-xs">
  
              </th>
                <th>Product</th>  
                <th>Product Id</th>
                <th>Price</th>
                <th>Uom</th>
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in filteredMaterials | filter:searchMaterial" ng-click="selectMaterial({id:item})"> 
                    <td class="hidden-xs">
                    <button id="{{item.Material}}" class="btn btn-sm btn-default btn-rounded">
                    <i class="fa fa-edit"></i>Select</button>
                     </td>
                   <td class="description">{{item.DESCRIPTION}}</td> 
                    <td>{{item.MATERIAL}}</td>  
                    <td>{{item.LIST_PRICE}}</td>  
                    <td>{{item.BASE_UOM}}</td>  
                     <td class="hidden-lg"><a>
                            <i class="fa fa-angle-right fa-2x"></i></a>
                      </td>  
                </tr>
		</tbody>
      </table>
        
        

        
    </div>
    
    <div ng-show="allMaterials == true">

            <h4 class="m-n h4">Full Material List </h4>
        
            <div ng-if="allMaterials == true">
                <div id="grid1" ui-grid="gridOptions"  class="grid" ui-grid-pagination ui-grid-selection></div>
            </div>
        
    </div>
    
</div>
    

<div class="bg-white-only wrapper-md ng-hide" id="guideScreen2">
    
<div class="cd-product-builder">
	<header class="main-header" style="position:relative">
		<span class="m-n h1 hidden-xs">Madix Configurator</span>
		
		<nav class="cd-builder-main-nav disabled">
			<ul>
				<li class="active"><a href="#models">Product Lines</a></li>
                <li><a href="#sections">Sections</a></li>
				<li><a href="#colors">Colors</a></li>
				<li><a href="#accessories">Accessories</a></li>
				<li><a href="#summary">Summary</a></li>
			</ul>
		</nav>
	</header>

	<div class="cd-builder-steps">
		<ul>
			<li data-selection="models" class="active builder-step">
				<section class="cd-step-content" style="padding:20px">
					<header>
						<h1>Select Type</h1>
						<span class="steps-indicator">Step <b>1</b> of 4</span>
					</header>

					<ul class="models-list options-list cd-col-2" style="list-style-type:none;">
						<li class="js-option js-radio" data-price="500" data-model="product-01">
							<span class="name">Gondola</span>
							<img src="img/configuration/gondola.jpeg" alt="Gondola">
							<span class="price"></span>
							<div class="radio"></div>
						</li>

						<li class="js-option js-radio" data-price="300" data-model="product-02">
							<span class="name">Wall Unit</span>
							<img src="img/configuration/wall.jpeg" alt="Wall">
							<span class="price"></span>
							<div class="radio"></div>
						</li>
					</ul>
				</section>
			</li>
			<!-- additional content will be inserted using ajax -->
		</ul>
	</div>

	<footer class="cd-builder-footer disabled step-1">
		<div class="selected-product">
			<img src="img/product01_col01.jpg" alt="Product preview">

			<div class="tot-price">
				<span>Total</span>
				<span class="total">$<b>0</b></span>
			</div>
		</div>
		
		<nav class="cd-builder-secondary-nav" style="width:350px">
			<ul>
				<li class="next nav-item">
					<ul style="position:static">
                        <li class="visible"><a href="#0">Size</a></li>
						<li><a href="#0">Colors</a></li>
						<li><a href="#0">Accessories</a></li>
						<li><a href="#0">Summary</a></li>
						<li class="buy"><a href="#0">Buy Now</a></li>
					</ul>
				</li>
				<li class="prev nav-item">
					<ul style="position:static">
						<li class="visible"><a href="#0">Models</a></li>
						<li><a href="#0">Models</a></li>
						<li><a href="#0">Colors</a></li>
						<li><a href="#0">Accessories</a></li>
					</ul>
				</li>
			</ul>
		</nav>

		<span class="alert">Please, select a model first!</span>
	</footer>
</div>
    
</div>

    <!-- backup configuration with tabs -->
<div class="bg-white-only wrapper-md " id="guideScreen">

    <div class="row">
        <div class="col-sm-9">
            
            <tabset class="tab-container" ng-init="steps={percent:20, step1:true, step2:false, step3:false}">

            <!-- step 1 -->
            <tab heading="Product Line" active="steps.step1" select="steps.percent=10">
              <!--<p class="m-b">Use the Bootstrap tab components and ngForm to build the form wizard.</p>-->
              <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
              <h4>Let's start with some basic information</h4>
              <form name="step1" class="form-validation">

                <div class="row">

                        <div class="col-sm-12">
                          <div class="form-group">
                          <h3 class="control-label">What product line does the customer want?</h3>
                         </div>
                        </div>
                  </div>
                    
                        <div class="row">
                            
                            <div class="col-md-6" ng-repeat="item in productLines">
                              <div class="panel panel-default" ng-click="selectProductLine({id:item})">
                                <div class="panel-body">
                                  <div class="clearfix text-center m-t">
                                    <div class="inline">
                                        <a><img src="{{item.IMG}}" alt="" class="img-full r r-2x"></a></div>
                                      <div class="h4 m-t m-b-xs">{{item.NAME}}</div>
                                    </div>                      
                                  </div>
                                </div>
                              </div>
                        </div>
                            
                    
                    
                        <!--<div class="row row-sm">
                              <div class="col-xs-4 col-sm-4 col-md-4" ng-repeat="item in productLines">
                                <div class="item" ng-click="selectProductLine({id:item})">
                                  <div class="pos-rlt">
                                    <div class="item-overlay bg-black-opacity r r-2x r r-2x">
                                      <div class="center text-center m-t-n w-full">
                                        <a>selected</a>
                                      </div>
                                    </div>
                                    <a><img src="{{item.IMG}}" alt="" class="img-full r r-2x"></a>
                                  </div>
                                  <div class="padder-v">
                                    <a ui-sref="music.detail" class="text-ellipsis" href="#/music/detail">{{item.NAME}}</a>
                                  </div>
                                </div>
                              </div>
                              <div class="clearfix visible-xs"></div>
                        </div>-->

              </form>
            </tab>

            <!-- step 2-->
            <tab heading="Choose Unit" class="fade-in" disabled="step1.$invalid" active="steps.step2" select="steps.percent=20">
              <form name="step2" class="form-validation">
                <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>


                <div class="row">
                        <div class="col-sm-12">
                          <div class="form-group">
                          <h3 class="control-label">What type of unit does the customer want?</h3>
                         </div>
                        </div>
                  </div>

                        <div class="row">
                            
                            <div class="col-md-6" ng-repeat="item in unitTypes">
                              <div class="panel panel-default" ng-click="selectUnitType({id:item})">
                                <div class="panel-body">
                                  <div class="clearfix text-center m-t">
                                    <div class="inline">
                                        <a><img src="{{item.IMG}}" alt="" class="img-full r r-2x"></a></div>
                                      <div class="h4 m-t m-b-xs">{{item.NAME}}</div>
                                    </div>                      
                                  </div>
                                </div>
                              </div>
                        </div>
            

              </form>
    </tab>

            <!-- step 3-->
            <tab heading="Configure Sections" disabled="step2.$invalid" active="steps.step3" select="steps.percent=35">
              <form name="step3" class="form-validation">
                <!-- <p class="m-b">System Selection Wizard</p>-->
                <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

                <div class="row">
                    <div class="col-sm-12">

                    <div class="form-group">
                        <h3 class="control-label">How long would you like this aisle to be? {{configuration.aisleLength}} feet</h3>

                        <div slider id="aisleLength" onchange="angular.element(this).scope().discountSliderChange(this)" style="background: #23b7e5" ng-model="configuration.aisleLength" start=4 end=100 step=4></div>

                    </div>
                 </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        
                   <div class="form-group">
                    <h3 class="control-label">What is the height of the aisle (section)?</h3>
                        <div class="btn-group m-r ng-scope" ng-controller="ButtonsDemoCtrl">
                            
                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'36'" uncheckable="">36"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'42'" uncheckable="">42"</label>
                           
                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'48'" uncheckable="">48"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'54'" uncheckable="">54"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'60'" uncheckable="">60"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'66'" uncheckable="">66"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'72'" uncheckable="">72"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'78'" uncheckable="">78"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'84'" uncheckable="">84"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'90'" uncheckable="">90"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.sectionHeight" btn-radio="'96'" uncheckable="">96"</label>


                    </div>
                    </div>

                    </div>
                </div>
                    
                    
                <div class="row">
                    <div class="col-sm-12">
                        
                        <div class="form-group">
                      <h3 class="control-label">How deep would you like the base to be?</h3>
                        <div class="btn-group m-r ng-scope" ng-controller="ButtonsDemoCtrl">

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.baseDepth" btn-radio="'10'" uncheckable="">10"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid active" ng-model="configuration.baseDepth" btn-radio="'12'" uncheckable="">12"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.baseDepth" btn-radio="'14'" uncheckable="">14"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid active" ng-model="configuration.baseDepth" btn-radio="'16'" uncheckable="">16"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.baseDepth" btn-radio="'18'" uncheckable="">18"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid active" ng-model="configuration.baseDepth" btn-radio="'20'" uncheckable="">20"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.baseDepth" btn-radio="'22'" uncheckable="">22"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid active" ng-model="configuration.baseDepth" btn-radio="'24'" uncheckable="">24"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.baseDepth" btn-radio="'26'" uncheckable="">26"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid active" ng-model="configuration.baseDepth" btn-radio="'28'" uncheckable="">28"</label>

                          <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.baseDepth" btn-radio="'30'" uncheckable="">30"</label>

                        </div>
                     </div>                           
                        </div>
                </div>
                        
                    
                <div class="row">
                     <div class="col-sm-12">
                          <!-- unit backing -->
                          <div class="form-group">
                          <h3 class="control-label">What type of backing would you like?</h3>
                            <div class="btn-group m-r ng-scope" ng-controller="ButtonsDemoCtrl">
                              <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.unitBacking" btn-radio="'SOLID'" uncheckable="" ng-click="steps.step4=true">Solid Board</label>

                              <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.unitBacking" btn-radio="'PEG'" uncheckable="" ng-click="steps.step4=true">Peg Board</label>

                              <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.unitBacking" btn-radio="'SLATWALL'" uncheckable="" ng-click="steps.step4=true">Slatwall Backing</label>
                            </div>
                         </div>
                    </div>
                    </div>




                <div class="row" style="margin-left:10px">
                    <div class="m-t m-b">
                      <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step2=true">Prev</button>
                      <button type="submit" ng-disabled="step3.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step4=true">Next</button>
                    </div>
                 </div>  
              </form>
            </tab>

            <!-- step 4-->
            <tab heading="Choose Shelves" disabled="step3.$invalid" active="steps.step4" select="steps.percent=60">
              <form name="step4" class="form-validation">
                <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

                <div class="row">
                        <div class="col-sm-12">
                         <div class="form-group">
                          <h3 class="control-label">What type of shelves are needed?</h3>
                         </div>
                    </div>
                  </div>
                  
                <div class="row">

                        <div class="col-md-6" ng-repeat="item in shelfTypes">
                          <div class="panel panel-default" ng-click="selectShelfType({id:item})">
                            <div class="panel-body">
                              <div class="clearfix text-center m-t">
                                <div class="inline">
                                    <a><img src="{{item.IMG}}" alt="" class="img-full r r-2x"></a></div>
                                  <div class="h4 m-t m-b-xs">{{item.DESCRIPTION}}</div>
                                </div>                      
                              </div>
                            </div>
                          </div>
                </div>
                  

                <div class="row">
                        <div class="col-sm-12">
                    <!-- shelf count -->
                   <div class="form-group">
                    <h3 class="control-label">How many shelves (tiers) would you like?</h3>
                        <div class="btn-group m-r ng-scope" ng-controller="ButtonsDemoCtrl">
                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfCount" btn-radio="'0'" uncheckable="">0</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfCount" btn-radio="'1'" uncheckable="">1</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfCount" btn-radio="'2'" uncheckable="">2</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfCount" btn-radio="'3'" uncheckable="">3</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfCount" btn-radio="'4'" uncheckable="">4</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfCount" btn-radio="'5'" uncheckable="">5</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfCount" btn-radio="'6'" uncheckable="">6</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfCount" btn-radio="'7'" uncheckable="">7</label>


                    </div>
                    </div>
                    </div>
                    </div>
                  

                    <div class="row">
                        <div class="col-sm-12">
                            
                  <!-- shelf depth -->
                  <div class="form-group">
                  <h3 class="control-label">How deep would you like the shelves to be?</h3>
                    <div class="btn-group m-r ng-scope" ng-controller="ButtonsDemoCtrl">

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'8'" uncheckable="" ng-click="steps.step5=true">8"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'10'" uncheckable="" ng-click="steps.step5=true">10"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'12'" uncheckable="" ng-click="steps.step5=true">12"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'14'" uncheckable="" ng-click="steps.step5=true">14"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'16'" uncheckable="" ng-click="steps.step5=true">16"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'18'" uncheckable="" ng-click="steps.step5=true">18"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'20'" uncheckable="" ng-click="steps.step5=true">20"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'22'" uncheckable="" ng-click="steps.step5=true">22"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'24'" uncheckable="" ng-click="steps.step5=true">24"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'26'" uncheckable="" ng-click="steps.step5=true">26"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'28'" uncheckable="" ng-click="steps.step5=true">28"</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.shelfDepth" btn-radio="'30'" uncheckable="" ng-click="steps.step5=true">30"</label>

                    </div>
                 </div>  
                    </div>
                    </div>
                  
              </form>
            </tab>

            <!-- step 5-->
            <tab heading="Choose Color" disabled="step4.$invalid" active="steps.step5" select="steps.percent=80">
              <form name="step5" class="form-validation">
                <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

                    <div class="row">
                        <div class="col-sm-12">
                            
                  <!-- color -->
                  <div class="form-group">
                  <h3 class="control-label">What color would you like?</h3>
                      
                        <!--<div class="col-md-6" ng-repeat="item in shelfTypes">
                          <div class="panel panel-default" ng-click="selectShelfType({id:item})">
                            <div class="panel-body">
                              <div class="clearfix text-center m-t">
                                <div class="inline">
                                    <a><img src="{{item.IMG}}" alt="" class="img-full r r-2x"></a></div>
                                  <div class="h4 m-t m-b-xs">{{item.DESCRIPTION}}</div>
                                </div>                      
                              </div>
                            </div>
                          </div>-->
                      
                    <div class="m-r ng-scope" ng-controller="ButtonsDemoCtrl">
                        <div class="col-md-2">
                          <div class="panel">
                            <div class="panel-body">
                              <div class="clearfix text-center m-t">
                                <div class="inline">
                                  <button class="btn btn-rounded btn-lg btn-icon btn-default ng-pristine ng-untouched ng-valid" style="background:#e5ddc3; width:70px; height:70px" ng-model="configuration.unitColor" btn-radio="'SAHARA'" uncheckable=""></button></div>
                                  <div class="h4 m-t m-b-xs">Sahara (standard)</div>
                                </div>                      
                              </div>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                          <div class="panel">
                            <div class="panel-body">
                              <div class="clearfix text-center m-t">
                                <div class="inline">
                                  <button class="btn btn-rounded btn-lg btn-icon btn-default ng-pristine ng-untouched ng-valid" style="background:#D8D9CD; width:70px; height:70px" ng-model="configuration.unitColor" btn-radio="'OYSTER'" uncheckable=""></button></div>
                                  <div class="h4 m-t m-b-xs">Oyster</div>
                                </div>                      
                              </div>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                          <div class="panel">
                            <div class="panel-body">
                              <div class="clearfix text-center m-t">
                                <div class="inline">
                                  <button class="btn btn-rounded btn-lg btn-icon btn-default ng-pristine ng-untouched ng-valid" style="background:#eef2f3; width:70px; height:70px" ng-model="configuration.unitColor" btn-radio="'SATIN WHITE'" uncheckable=""></button></div>
                                  <div class="h4 m-t m-b-xs">Satin White</div>
                                </div>                      
                              </div>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                          <div class="panel">
                            <div class="panel-body">
                              <div class="clearfix text-center m-t">
                                <div class="inline">
                                  <button class="btn btn-rounded btn-lg btn-icon btn-default ng-pristine ng-untouched ng-valid" style="background:#c3c5c2; width:70px; height:70px" ng-model="configuration.unitColor" btn-radio="'DOVE GRAY'" uncheckable=""></button></div>
                                  <div class="h4 m-t m-b-xs">Dove Gray</div>
                                </div>                      
                              </div>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                          <div class="panel">
                            <div class="panel-body">
                              <div class="clearfix text-center m-t">
                                <div class="inline">
                                  <button class="btn btn-rounded btn-lg btn-icon btn-default ng-pristine ng-untouched ng-valid" style="background:#000; width:70px; height:70px" ng-model="configuration.unitColor" btn-radio="'SATIN BLACK'" uncheckable=""></button></div>
                                  <div class="h4 m-t m-b-xs">Satin Black</div>
                                </div>                      
                              </div>
                            </div>
                        </div>
                        
                        <div class="col-md-2">
                          <div class="panel">
                            <div class="panel-body">
                              <div class="clearfix text-center m-t">
                                <div class="inline">
                                  <button class="btn btn-rounded btn-lg btn-icon btn-default ng-pristine ng-untouched ng-valid" style="background:#636d72; width:70px; height:70px" ng-model="configuration.unitColor" btn-radio="'BLUE GRAY'" uncheckable=""></button></div>
                                  <div class="h4 m-t m-b-xs">Blue Gray</div>
                                </div>                      
                              </div>
                            </div>
                        </div>
                                                
                    </div>
                      
                      
                 </div>   
                        </div>
                  </div>

                    <div class="row">
                        <div class="col-sm-12">
                            
                  <!-- number of rows -->
                  <div class="form-group">
                  <h3 class="control-label">How many of units/aisles do you need?</h3>
                    <div class="btn-group m-r ng-scope" ng-controller="ButtonsDemoCtrl">
                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'1'" uncheckable="">1</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'2'" uncheckable="">2</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'3'" uncheckable="">3</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'4'" uncheckable="" >4</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'5'" uncheckable="">5</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'6'" uncheckable="" >6</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'7'" uncheckable="" >7</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'8'" uncheckable="" >8</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'9'" uncheckable="">9</label>

                      <label class="btn btn-default ng-pristine ng-untouched ng-valid" ng-model="configuration.aisleQuantity" btn-radio="'10'" uncheckable="">10</label>

                    </div>
                 </div>   
                        </div>
                  </div>
                  
                <div class="row" style="margin-left:10px">
                    <div class="m-t m-b">
                      <button type="submit" ng-disabled="step3.$invalid" class="btn btn-default btn-rounded" ng-click="steps.step6=true">Next</button>
                    </div>
                 </div> 
                  
              </form>
            </tab>


            <!-- step 5-->
            <tab heading="Recommendations" disabled="step5.$invalid" active="steps.step6" select="steps.percent=90">
              <form name="step6" class="form-validation">
                <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>

                        <div class="row">
                        <div class="col-sm-12">
                  <!-- additional items -->
                        <div class="form-group">
                            <h3 class="control-label">Based on your selections, we recommend these additional items</h3>
                        </div>            
                    </div>
                 </div>   
                  
                <div class="row">

                        <div class="col-md-3" ng-repeat="item in recommendedItems">
                          <div class="panel panel-default" ng-click="selectRecommendedItem({id:item})">
                            <div class="panel-body">
                              <div class="clearfix text-center m-t">
                                <div class="inline">
                                    <a><img src="{{item.IMG}}" alt="" class="img-full r r-2x"></a></div>
                                  <div class="h4 m-t m-b-xs">{{item.DESCRIPTION}}</div>
                                </div>                      
                              </div>
                            </div>
                          </div>

                </div>
                  

                <div class="row" style="margin-left:10px">
                    <div class="m-t m-b">
                      <button type="submit" ng-disabled="step5.$invalid" class="btn btn-default btn-rounded" ng-click="determineConfiguration(); steps.step7=true">Finalize</button>
                    </div>
                 </div> 
                  
              </form>
            </tab>


                
            <!-- step 6 -->
            <tab heading="Finish" disabled="step6.$invalid" active="steps.step7" select="steps.percent=100">
              <progressbar value="steps.percent" class="progress-xs" type="success"></progressbar>
              <p class="m-b">Thank you! Based on your selections, we have identified the following products.  Please review and confirm them and they will be added to your quote.</p>
                
                
                <div>
                    <table class="table table-condensed">
                    <thead>

                          <tr>
                            <th>Type</th> 
                            <th>Material</th>   
                            <th>Description</th>
                            <th>Quantity</th>  
                         </tr>
                    </thead>

                     <tbody>
                           <tr data-ng-repeat="item in configuration.bom">    

                                <td>{{item.type}}</td>
                                <td class="description">{{item.material}}</td> 
                               <td class="description">{{item.description}}</td>
                                <td class="description">{{item.quantity}}</td>     
                            </tr>
                    </tbody>
                  </table>
                </div>
                
              <div class="m-t m-b">
                <button type="button" class="btn btn-default btn-rounded" ng-click="steps.step6=true">Prev</button>
                <button type="button" class="btn btn-default btn-rounded" ng-click="steps.percent=100; finishConfiguration()">Click me to Finish</button>
              </div>
            </tab>

          </tabset>

            
        </div>
        <div class="col-sm-3">
        
                <br>
                <strong>Configuration</strong>
               <table class="table table-condensed">
                    <tbody>
                                                           
                     <tr ng-show="configuration.productLine">
                        <td>Product Line</td>
                        <td>{{configuration.productLine.NAME}}</td>
                    </tr>
                        
                     <tr ng-show="configuration.unitType">
                        <td>Unit Type</td>
                        <td>{{configuration.unitType.NAME}}</td>
                    </tr>
                        
                     <tr ng-show="configuration.aisleLength">
                        <td>Total Length</td>
                        <td>{{configuration.aisleLength}} feet</td>
                    </tr>
            
                     <tr ng-show="configuration.sectionHeight">
                        <td>Height</td>
                        <td>{{configuration.sectionHeight}}"</td>
                    </tr>
                        
                     <tr ng-show="configuration.baseDepth">
                        <td>Base Depth</td>
                        <td>{{configuration.baseDepth}}"</td>
                    </tr>
                        
                     <tr ng-show="configuration.unitBacking">
                        <td>Backing</td>
                        <td>{{configuration.unitBacking}}</td>
                    </tr>
            
                     <tr ng-show="configuration.shelfType">
                        <td>Shelf Type</td>
                        <td>{{configuration.shelfType.NAME}}</td>
                    </tr>
                        
                     <tr ng-show="configuration.shelfCount">
                        <td>Shelf Count</td>
                        <td>{{configuration.shelfCount}}</td>
                    </tr>
            
                     <tr ng-show="configuration.shelfDepth">
                        <td>Shelf Depth</td>
                        <td>{{configuration.shelfDepth}}"</td>
                    </tr>
                        
                     <tr ng-show="configuration.unitColor">
                        <td>Color</td>
                        <td>{{configuration.unitColor}}</td>
                    </tr>
            
                     <tr ng-show="configuration.aisleQuantity">
                        <td>Quantity</td>
                        <td>{{configuration.aisleQuantity}}</td>
                    </tr>
                        
                        
                   </tbody>
            </table>
            
        </div>
    </div>   
        
</div>
    
  <div class="settings panel panel-default" id="materialInfoDrawer">
  <!--<button class="btn btn-default no-shadow pos-abt" ui-toggle-class="active" id="materialInfoBtn" target=".settings">
    <i class="fa fa-spin fa-gear"></i>
  </button>-->
      
  <div class="panel-heading">
    <a href class="pull-right btn btn-sm btn-danger m-t-n-xs" ui-toggle-class="active" target=".settings">Close</a>
    <div class="h4">Material Info:<br> <b>{{materialInfoData.DESCRIPTION}} </b></div>
  </div>
      
  <div class="panel-body"> 
    <div class="m-b-sm">
        <b>ATP Info</b>
            <div class="padder">
              <div class="list-group">
                <a ng-repeat="atpInfo in materialInfoData.ATP_INFO | orderBy:'NAME'" class="list-group-item b-l-{{note.color}} b-l-3x hover-anchor">
                  <span class="block text-ellipsis">{{ atpInfo.NAME }}</span>
                  <small class="text-muted">{{ atpInfo.REC_REQD_QTY }}</small>
                </a>
              </div>
            </div>
        
    </div>
      
    <div class="m-b-sm">
            <b>Recent Orders</b>
            <div class="padder">
              <div class="list-group">
                <a ng-repeat="orderInfo in materialInfoData.TBL_LAST_ORDERS | orderBy:'NAME'" class="list-group-item b-l-{{note.color}} b-l-3x hover-anchor">
                  <span class="block text-ellipsis">{{ orderInfo.SD_DOC }} {{ orderInfo.DOC_DATE }}</span>
                  <small class="text-muted">{{ orderInfo.REQ_QTY }} {{ orderInfo.SALES_UNIT }} 
                      ${{ orderInfo.CUSTOMER_PRICE }}</small>
                </a>
              </div>
            </div>
        
    </div>
      
  </div>

  </div>
    
</div> <!-- end of controller -->

<!-- file upload hidden fields -->
<input type="checkbox" name="useworker" checked hidden>
<input type="checkbox" name="xferable" checked hidden>
<input type="checkbox" name="userabs" checked hidden>
