<li data-selection="colors" class="builder-step first-load">
	<section class="cd-step-content" style="padding:20px">
		<header>
			<h1>Select Length</h1>
			<span class="steps-indicator">Step <b>2</b> of 4</span>
		</header>
		
		<ul class="accessories-list options-list" style="list-style-type:none;">
            
            <li>
                
                <div class="cd-product-viewer-handle">
			<span class="fill" style="transform: scaleX(1);"></span>
			<span class="handle" style="left: 0%;">Handle</span>
		</div>
                
                <!--<div class="form-group">-->
                  <p>How long would you like this aisle to be? {{configuration.aisleLength}} feet</p>

                    <div slider id="aisleLength" onchange="angular.element(this).scope().discountSliderChange(this)" style="background: #23b7e5" ng-model="configuration.aisleLength" start=4 end=100 step=4></div>

                 <!--</div>-->
            </li>
            
			<li class="js-input" data-price="0">
				<p>How many feet?</p>

                <span class="price">10</span>
				
				<div class="input"></div>
			</li>

			<li class="js-option" data-price="0">
				<p>How high do you want the unit?</p>
				
				<span class="price">54"</span>

				<div class="input"></div>
			</li>

			<li class="js-option" data-price="975">
				<p>How deep do you want the unit?</p>

				<span class="price">36"</span>
				<div class="check"></div>
			</li>

        
		<!--<ul class="cd-product-previews">
			<li class="selected"><img src="img/product01_col01.jpg" alt="Product Preview" class="product-preview"></li>
			<li><img src="img/product01_col02.jpg" alt="Product Preview" class="product-preview"></li>
			<li><img src="img/product01_col03.jpg" alt="Product Preview" class="product-preview"></li>
		</ul>-->

			<li class="js-option">
				<p>What type of backing do you want?</p>

                    <ul class="cd-product-customizer">
                        <li data-content="Pegboard" data-price="1" class="selected"><a data-color="grey" href="#0">Pegboard</a></li>
                        <li data-content="Solid" data-price="1"><a data-color="white" href="#0">Solid</a></li>
                        <li data-content="Slats - $550" data-price="550"><a data-color="orange" href="#0">Slats</a></li>
                    </ul>
              </li>
        </ul>
	</section>
</li>

<li data-selection="colors" class="builder-step first-load">
	<section class="cd-step-content" style="padding:20px">
		<header>
			<h1>Select Color</h1>
			<span class="steps-indicator">Step <b>3</b> of 4</span>
		</header>
		
		<ul class="cd-product-previews" style="list-style-type:none;">
			<li class="selected"><img height="300px" width="300px" src="img/configuration/gondola.jpeg" alt="Product Preview" class="product-preview"></li>
		</ul>
        

		<ul class="cd-product-customizer">
			<li data-content="Sahara - $0" data-price="" class="selected"><a data-color="brown" href="#0">Sahara</a></li>
			<li data-content="Antique White - $0" data-price="" class="selected"><a data-color="perl" href="#0">Antique White</a></li>
			<li data-content="Snow White - $550" data-price="550"><a data-color="white" href="#0">Snow White - $550</a></li>
			<li data-content="Gray - $550" data-price="550"><a data-color="grey" href="#0">Gray - $550</a></li>
		</ul>
	</section>
</li>

<li data-selection="accessories" class="builder-step first-load">
	<section class="cd-step-content" style="padding:20px">
		<header>
			<h1>Accessories</h1>
			<span class="steps-indicator">Step <b>4</b> of 4</span>
		</header>

		<ul class="accessories-list options-list" style="list-style-type:none;">
			<li class="js-option" data-price="180">
				<p>Extra End</p>

				<span class="price">$180</span>
				
				<div class="check"></div>
			</li>

			<li class="js-option" data-price="95">
				<p>Brackets</p>
				
				<span class="price">$95</span>

				<div class="check"></div>
			</li>

		</ul>
	</section>
</li>

<li data-selection="summary" class="builder-step first-load">
	<section class="cd-step-content" style="padding:20px">
		<header>
			<h1>Summary</h1>
			<span class="steps-indicator">Step <b>4</b> of 4</span>
		</header>
		
		<ul class="summary-list" style="list-style-type:none;">
			<li>
				<h2>Model</h2>

				<img src="img/product01_col01.jpg" alt="Alfa Romeo Giulietta" class="product-preview">
				
				<h3>Madix Gondola</h3>
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit saepe facilis hic, unde, numquam vel. Blanditiis sed laboriosam ratione nulla atque molestias at explicabo aperiam reprehenderit culpa nihil, quis totam cupiditate dolores in quisquam magnam inventore nobis, rem adipisci eveniet illum.	
				</p>
			</li>

			<li data-summary="colors">
				<h2>Color</h2>
				
				<span class="summary-color">
					<em class="color-swatch" data-color="red"></em>
					<em class="color-label">Red Passion</em>
				</span>
			</li>

			<li data-summary="accessories">
				<h2>Accessories</h2>

				<ul class="summary-accessories">
					<li>
						<p></p>
					</li>

					<li>
						<p></p>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</li>