<li data-selection="colors" class="builder-step first-load">
	<section class="cd-step-content" style="padding:20px">
		<header>
			<h1>Select Color</h1>
			<span class="steps-indicator">Step <b>2</b> of 4</span>
		</header>

		<ul class="cd-product-previews">
			<li class="selected"><img src="img/product02_col01.jpg" alt="Product Preview" class="product-preview"></li>
			<li><img src="img/product02_col02.jpg" alt="Product Preview" class="product-preview"></li>
		</ul>

		<ul class="cd-product-customizer">
			<li data-content="Grey Metallic - $0" data-price="0" class="selected"><a data-color="grey" href="#0">Grey Metallic - $0</a></li>
			<li data-content="White Perl Metallic - $1.800" data-price="1800"><a data-color="perl" href="#0">White Perl Metallic - $1.800</a></li>
		</ul>
	</section>
</li>

<li data-selection="accessories" class="builder-step first-load">
	<section class="cd-step-content" style="padding:20px">
		<header>
			<h1>Accessories</h1>
			<span class="steps-indicator">Step <b>3</b> of 4</span>
		</header>
		
		<ul class="accessories-list options-list" style="list-style-type:none;">
			<li class="js-option" data-price="6300">
				<p>BMW Laserlight</p>

				<span class="price">$6.300</span>
				
				<div class="check"></div>
			</li>

			<li class="js-option" data-price="1080">
				<p>BMW Charging Station</p>

				<span class="price">$1.080</span>
				
				<div class="check"></div>
			</li>

			<li class="js-option" data-price="1895">
				<p>BMW Maintenance Program Upgrade</p>
				
				<span class="price">$1.895</span>

				<div class="check"></div>
			</li>

			<li class="js-option" data-price="975">
				<p>1 Year BMW Maintenance Program Upgrade</p>

				<span class="price">$975</span>
				
				<div class="check"></div>
			</li>
		</ul>
	</section>
</li>

<li data-selection="summary" class="builder-step first-load">
	<section class="cd-step-content" style="padding:20px">
		<header>
			<h1>Summary</h1>
			<span class="steps-indicator">Step <b>4</b> of 4</span>
		</header>
		
		<ul class="summary-list">
			<li>
				<h2>Model</h2>

				<img src="img/product02_col01.jpg" alt="Alfa Romeo Giulietta" class="product-preview">
				
				<h3>BMW i8</h3>
				
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit saepe facilis hic, unde, numquam vel. Blanditiis sed laboriosam ratione nulla atque molestias at explicabo aperiam reprehenderit culpa nihil, quis totam cupiditate dolores in quisquam magnam inventore nobis, rem adipisci eveniet illum.	
				</p>
			</li>

			<li data-summary="colors">
				<h2>Color</h2>
				
				<span class="summary-color">
					<em class="color-swatch" data-color="red"></em>
					<em class="color-label">Red Passion</em>
				</span>
			</li>

			<li data-summary="accessories">
				<h2>Accessories</h2>

				<ul class="summary-accessories">
					<li>
						<p>Uconnect 6.5" colour touchscreen radio navigation sytem with Bluetooth &amp; DAB ($1050)</p>
					</li>

					<li>
						<p>Audio &amp; telephone controls on steering wheels ($750)</p>
					</li>
				</ul>
			</li>
		</ul>
	</section>
</li>