<div ng-controller="orderCreateCtrl" class="bg-white">
    <!-- order create screen -->
				<div class="wrapper-md" id="createScreen">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">

                            <div class="btn-group btn-group-md" style="float:right">
                            	 <a id="" data-ng-click="saveOrder()" class="btn  btn-success">
                    			Save Order</a>
                                
                            <a id="" class="btn  btn-default" ng-click="cancel()"><i class="fa clip-plus "></i>
                    			Back</a>                                            
                  			</div>
                                           
							<div class="page-header" style="margin-top:0px">
								<h1 class="m-n  h2 text-black">Create Sales Order</h1>
                                
                            
							</div>
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
                       <div class="row">
    
                                <div class="col-sm-6">
                          
                          
                          <table class="table table-condensed">

														<tbody>                                                            
															<tr>
																<td>Choose Delivery Date</td>
                                                              	<td>                                                                
                                                                <div class="col-sm-6" ng-controller="DatepickerDemoCtrl">
                                                                    <div class="input-group w-md">
                                                                      <input type="text" class="form-control" id="requestedDeliveryDate" datepicker-popup="MM/dd/yyyy" ng-model="requestedDeliveryDate" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                                                                      <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default " ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                      </span>
                                                                    </div>

                                                                </div>

																</td>
															</tr>
      
    												        <tr>
																<td>Projected Price</td>
																<td>
                                                                
                                                                <span class="h2 text-gray font-thin h2 ng-binding ">$ {{orderValue | number : 0}}
                                                                </span>

																</td>
															</tr> 
                                                              
											                 <!--<tr>
																<td>Order Score</td>
																<td>
                                                                <span class="h2 text-info font-thin h2 ng-binding "> {{orderScore}}
                                                                </span>
																</td>
															</tr>--> 
														</tbody>
													</table>
                                                    
                                </div>
                                
                                <div class="col-sm-6">
                          
                          				<table class="table table-condensed">

														<tbody>

													<tr>
																<td>Quote</td>
																<td>                                                        
                                                                 <div class="col-sm-8">
                                                                     {{orderHeader.QuoteNum}}
                                                                     {{orderHeader.OpportunityNum}}
                                                                     {{orderHeader.OpportunityName}}
                                                                </div>
																</td>
															</tr>

                                                            
															<tr>
																<td>Sold To</td>
																<td>                                                        
                                                                 <div class="col-sm-8">
                                                                     {{orderHeader.SoldToName}}
                                                               <!--<input type="text" id="soldTo" class="form-control" data-ng-model="orderHeader.SoldToName"readonly >-->
                                                                </div>
																</td>
															</tr>

															<tr>
																<td>Ship To</td>
																<td>                                                        
                                                                 <div class="col-sm-8">
                                                                     {{orderHeader.ShipToName}}
                                                                   <!--<input type="text" id="soldTo" class="form-control" data-ng-model="orderHeader.ShipToName"readonly >-->
                                                                </div>
																</td>
															</tr>
                                                                  
    															<tr>
																<td>Purchase Order</td>
																<td>
                                                               <div class="col-sm-8">
                                                               <input type="text" id="base" class="form-control" data-ng-model="orderHeader.PONumber">
                                                                </div>
                                                                    
																</td>
															</tr> 
                                                            
														</tbody>
													</table>
                                                    
                                </div>
                       </div>
                       
                       <div class="row">
                           <div class="col-sm-9">
                              <table id="orderItems" class="table responsive" wt-responsive-table>
                                <tr>

									<!--<th></th>-->
                                    
                                    <th>Material</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Item Price ($)</th>
                                    <th>Total Price ($)</th>
                                    <!--<th>Quote Score</th>-->
                                </tr>
                                
                                <tr ng-repeat="item in orderDetails">

                                    <!--<td class="center">
                                    <div class="checkbox-table">
                                        <label>
                                            <input type="checkbox" class="flat-grey" id="{{item.Material}}">
                                        </label>
                                    </div>
                                    </td>-->
                                    
                                    <td>{{item.Material}}  <input type="text" id="material" value="{{item.Material}}" style="display:none"/> </td>
                                    <td>{{item.Description}}</td> 
                                    <td>{{item.Quantity}} EA</td>
                                    <!--<td><input type="text" class="quantity form-control rounded" style="width:70px" id="quantity"  readonly ng-model="item.Quantity" ng-change="quantityChange()"/>
                                    <input type="text" id="salesUnit" value="{{item.SalesUnit}}" style="display:none"/> {{item.SalesUnit}}</td>-->
                                    <td>{{item.BID_PRICE}}</td> 
                                    <td>{{item.BID_PRICE * item.Quantity | number:2}}</td> 
                                    <!--<td><h4><span ng-show="item.Material" class="label label-lg label-{{item.TPI_CLASS}}">{{item.TARGET_PRICE_INDEX}} %</span></h4></td>-->
                                    </tr>
                        
                            </table>
                           </div>
                        
                           <!-- configuration -->
                        <div class="col-sm-3">
                            <strong>Configuration</strong>
                            <table class="table table-condensed">
                                <tbody>

                                 <tr ng-show="configuration.PRODUCT_LINE">
                                    <td>Product Line</td>
                                    <td>{{configuration.PRODUCT_LINE}}</td>
                                </tr>

                                 <tr ng-show="configuration.UNIT_TYPE">
                                    <td>Unit Type</td>
                                    <td>{{configuration.UNIT_TYPE}}</td>
                                </tr>

                                 <tr ng-show="configuration.TOTAL_LENGTH">
                                    <td>Total Length</td>
                                    <td>{{configuration.TOTAL_LENGTH}} feet</td>
                                </tr>

                                 <tr ng-show="configuration.HEIGHT">
                                    <td>Height</td>
                                    <td>{{configuration.HEIGHT}}"</td>
                                </tr>

                                 <tr ng-show="configuration.BASE_DEPTH">
                                    <td>Base Depth</td>
                                    <td>{{configuration.BASE_DEPTH}}"</td>
                                </tr>

                                 <tr ng-show="configuration.BACKING">
                                    <td>Backing</td>
                                    <td>{{configuration.BACKING}}</td>
                                </tr>

                                 <tr ng-show="configuration.SHELF_TYPE">
                                    <td>Shelf Type</td>
                                    <td>{{configuration.SHELF_TYPE}}</td>
                                </tr>

                                 <tr ng-show="configuration.SHELF_COUNT">
                                    <td>Shelf Count</td>
                                    <td>{{configuration.SHELF_COUNT}}</td>
                                </tr>

                                 <tr ng-show="configuration.SHELF_DEPTH">
                                    <td>Shelf Depth</td>
                                    <td>{{configuration.SHELF_DEPTH}}"</td>
                                </tr>

                                 <tr ng-show="configuration.COLOR">
                                    <td>Color</td>
                                    <td>{{configuration.COLOR}}</td>
                                </tr>

                                 <tr ng-show="configuration.CONFIG_QTY">
                                    <td>Quantity</td>
                                    <td>{{configuration.CONFIG_QTY}}</td>
                                </tr>


                               </tbody>
                            </table>
                        </div>
                           
                       </div>
			
            		</div>

      
<div class="bg-white-only wrapper-md" id="opportunityListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h1 class="m-n h1">My Opportunities</h1>
         </div>
            
         <div class="col-sm-4 text-right hidden-xs">
                  <a class="btn m-b-xs w-xs btn-default btn-rounded" data-ng-click="closeOpportunityList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
            
    <div>
        
        <table class="table table-condensed">
        <thead>
              <tr>
              <th class="hidden-xs">
  
              </th>
                <th>Name</th>  
                <th data-hide="phone">Account</th>
                <th data-hide="phone">Contact</th>
                <th data-hide="phone">Phase</th>
                <th data-hide="phone">Priority</th>
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in opportunityList" ng-click="selectOpportunity({id:item})">    
                    <td class="hidden-xs">
                    <button id="{{item.PRICE_REQUEST}}" class="btn btn-sm btn-default btn-rounded">
                    <i class="fa fa-edit"></i>Select</button>
                     </td>
                   <td class="description">{{item.Name.content}}</td> 
                    <td>{{item.AccountName.content}}</td>  
                    <td>{{item.PrimaryContactName.content}}</td>
                    <td>{{item.SalesPhaseCodeText}}</td>  
                    <td>{{item.PriorityCodeText}}</td>  
                     <td class="hidden-lg"><a>
                            <i class="fa fa-angle-right fa-2x"></i></a>
                      </td>  
                </tr>
		</tbody>
      </table>

    </div>
</div>
    
                
<div class="bg-white-only wrapper-md" id="quoteListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h1 class="m-n h1">Price Quote Selection</h1>
         </div>
            
         <div class="col-sm-4 text-right hidden-xs">
                  <a class="btn m-b-xs w-xs btn-default btn-rounded" data-ng-click="closeQuoteList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
            
    <div>
        
        <table class="table table-condensed">
        <thead>
              <tr>
              <th class="hidden-xs">
  
              </th>
                <th>Quote</th>  
                <th>Customer</th>
                <th>Opportunity</th>
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in priceRequestList" ng-click="selectQuote({id:item.PRICE_REQUEST})">    
                    <td class="hidden-xs">
                    <button id="{{item.PRICE_REQUEST}}" class="btn btn-sm btn-default btn-rounded">
                    <i class="fa fa-edit"></i>Select</button>
                     </td>
                   <td class="description">{{item.PRICE_REQUEST}}</td> 
                    <td>{{item.NAME}} - {{item.CUSTOMER}}</td>  
                    <td>{{item.OPPORTUNITY_NUM}}</td>  
                     <td class="hidden-lg"><a>
                            <i class="fa fa-angle-right fa-2x"></i></a>
                      </td>  
                </tr>
		</tbody>
      </table>

    </div>
</div>
       
</div> <!-- end of controller -->

