<div class="bg-white-only wrapper-sm" ng-controller="orderListCtrl">
            
    <div class="row">
        
        <div class="col-sm-8" style="">
    
              <div class="r bg-white-only item hbox no-border" ui-sref="app.orderList()">
                <div class="col w-xs v-middle">
                    <div><span style="margin-left:15px">
                             <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-book fa-stack-1x text-white"></i>
                              </span>
                        </span></div>
                </div>
                <div class="col padder-v r-r">
                  <div class="text-default-dk font-thin h1 hidden-xs"><span class="ng-binding">Order Score Breakdown</span></div>
                  <div class="text-default-dk font-thin h3 visible-xs"><span class="ng-binding">Order Score</span></div>
                  <span class="">{{orderList.length}} total orders over last 365 days <br>
                      Total Sales ${{totalSales}} vs. Total Target ${{totalTargetValue}}
                      <br> Order Score: {{totalOrderScore}} %</span>
                </div>
              </div>
            </div>
                <div class="col-sm-3  hidden-xs hidden-sm">
                                Search: <input id="filter" type="text" ng-model="search" class="form-control input-sm w-sm inline m-r"/>
                </div>
        
             <div class="col-sm-1 hidden-xs">
                <a class="btn m-b-xs btn-default" data-ng-click="cancel()">Back</a>
             </div>
            

        </div>  

<div class="bg-white-only">

    <div>
        <table class="table table-condensed">
        <thead>
    
              <tr>
                  <th class="hidden-xs">

                  </th>
                   <th >
                    Order Nbr
                  </th>                  
                  <th>
                      Customer
                  </th>
                  <th class="hidden-xs">
                      Overall Status
                  </th>
                  <th>
                      Total Value
                  </th>   
                  <th>
                      Target Value
                  </th> 
                  <th class="hidden-xs">
                      Order Score
                  </th>  
                  <!--<th class="hidden-xs" ng-show="app.settings.commissions == true">
                      Commission
                  </th>-->  
                  <th class="hidden-xs">
                      Requested Date
                  </th> 
                   <!--<th class="hidden-xs">
                      Opportunity
                  </th> 
                   <th class="hidden-xs">
                      Quote
                  </th> -->            
              
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in orderList | filter:search">
   
                    <td class="hidden-xs">
                            <a ui-sref="app.orderDetail({id:item.SD_DOC})" class="btn btn-xs btn-green btn-rounded">
                            <i class="fa fa-edit"></i>View</a>
                     </td>
                     
                    <td ui-sref="app.orderDetail({id:item.SD_DOC})">{{item.SD_DOC}}</td>
                    <td ui-sref="app.orderDetail({id:item.SD_DOC})">{{item.NAME}}</td>
                    <td class="hidden-xs" >{{item.DOC_STATUS}}</td>
                    <td ui-sref="app.orderDetail({id:item.SD_DOC})">${{item.NET_VAL_HD}}</td>
                    <td ui-sref="app.orderDetail({id:item.SD_DOC})">${{item.TARGET_VALUE_HDR}}</td>
                    <td class="hidden-xs">
                    <h4><span class="label label-lg label-{{item.ORDER_SCORE_CLASS}}">{{item.ORDER_SCORE_HDR}}</span></h4>
                    </td>
                    <!--<td class="hidden-xs" ng-show="app.settings.commissions == true">${{item.COMMISSION_HDR}}</td>-->
                    <td class="hidden-xs">{{item.REQ_DATE}}</td> 
                   <!--<td class="hidden-xs"><a ui-sref="app.opportunityDetail({id:item.OPPORTUNITY_NUM})" class="text-info font-bold">    {{item.OPPORTUNITY_NAME}}</a></td>
                   <td class="hidden-xs">{{item.QUOTE_NUM}}</td>-->
                        <td class="hidden-lg">
                            <i class="fa fa-angle-right fa-2x"></i>
                        </td>   
                </tr>
		</tbody>
      </table>
    </div>
  </div>
</div>
