<div ng-controller="orderDetailCtrl" class="bg-white">
        <div class="row wrapper-md">
         <div class="col-sm-8 col-xs-12">
          <span class="m-n h1 hidden-xs">Order: {{order_id}} - {{order.NAME}}</span>
          <span class="m-n h3 visible-xs">Order: {{order_id}} - {{order.NAME}}</span>
         </div>
            
             <div class="col-sm-4 text-right hidden-xs">
                        <a class="btn m-b-xs w-xs btn-default" data-ng-click="cancel()">Back</a>
              </div>                        
        </div> <!-- end of row -->

		
       <div style="margin-left:30px;">
           <div class="row">

                    <div class="col-sm-6">
              
              <table class="table table-condensed">

                                            <tbody>
                                                <!--<tr>
                                                    <td>Order Number</td>
                                                    <td>{{order_id}}
                                                    </td>
                                                </tr>-->

                                                <tr>
                                                    <td>Sold To</td>
                                                    <td><a ui-sref="app.accountDetail({id:order.SOLD_TO})" class="text-info font-bold">{{order.NAME}} ({{order.SOLD_TO}})</a>
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Total Value</td>
                                                    <td>${{order.NET_VAL_HD}}
                                                    </td>
                                                </tr>  

                                                
                                                <!--<tr>
                                                    <td ng-show="app.settings.commissions == true">Total Commission</td>
                                                    <td>$ {{order.COMMISSION_HDR}} 
                                                    </td>
                                                </tr> -->                                               
                                                
                                                
                                                
                                                <tr>
                                                    <td>PO Number</td>
                                                    <td>{{order.PURCH_NO}}
                                                    </td>
                                                </tr>
                                                
                                                
                                                <tr>
                                                    <td>Quote Number</td>
                                                    <td><a ui-sref="app.priceDetail({id:order.QUOTE_NUM})" class="text-info font-bold">{{order.QUOTE_NUM}}</a>
                                                    </td>
                                                </tr>
                                                
                                                <tr ng-show="order.DOC_STATUS == 'Shipped'">
                                                    <td>Delivery #</td>
                                                    <td>{{order.DELIVERY}}
                                                    </td>
                                                </tr>
                                                
                                                <tr  ng-show="order.DOC_STATUS == 'Shipped'">
                                                    <td>Ship Date</td>
                                                    <td>{{order.DELIVERY_DATE}}
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        
                    </div>
                    
                    <div class="col-sm-6">
              
                            <table class="table table-condensed">

                                            <tbody>

                                                
                                                <tr>
                                                    <td>Created On</td>
                                                    <td>{{order.CREATION_DATE}}
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Req Delivery</td>
                                                    <td>{{order.REQ_DATE}}
                                                    </td>
                                                </tr>
                                                
                                                <tr>
                                                    <td>Status</td>
                                                    <td>{{order.DOC_STATUS}}
                                                    </td>
                                                </tr>
                                                     

                                                
                                                <tr  ng-show="order.DOC_STATUS == 'Shipped'">
                                                    <td>Shipped Via</td>
                                                    <td>{{order.SHIPPED_VIA}}
                                                    </td>
                                                </tr>
                                                
                                                <tr  ng-show="order.DOC_STATUS == 'Shipped'">
                                                    <td>Tracking Nbr</td>
                                                    <td>{{order.TRACKING_NBR}}
                                                    </td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                        
                    </div>
           </div>
           
           <div class="row" style="margin-right:20px">

             <table id="orderItems" class="table responsive" wt-responsive-table>
                    <tr>

                        <th class="hidden-xs">Item</th>
                        <th>Material</th>
                        <th>Part Number</th>
                        <th>Quantity</th>
                        <th class="hidden-xs">Unit Price</th> 
                        <th>Total Price</th>                
                    </tr>
                    
                    <tr ng-repeat="item in orderDetails">

                        <td class="hidden-xs">{{item.ITM_NUMBER}}</td>
                        <td>{{item.SHORT_TEXT}}</td>
                        <td>{{item.MATERIAL}}</td>
                        <td>{{item.REQ_QTY}} {{item.SALES_UNIT}}</td>
                        <td class="hidden-xs">${{item.NET_PRICE}} {{item.SALES_UNIT}}</td>
                        <td>${{item.NET_VALUE}}</td>
                        </tr>
            
                </table>

                

           </div>

        </div>

</div>

