﻿<div ng-controller="userCreateCtrl">

            <div class="bg-white-only wrapper-md">
            
                    <div class="row">
                     <div class="col-sm-8 col-xs-12">
                        <h1 class="m-n h1">User Create</h1>
                     </div>
                        
                     <div class="col-sm-4 text-right hidden-xs">
                              
                               <button class="btn m-b-xs w-xs btn-default" data-ng-click="saveUser()"><i class="fa clip-refresh "></i>Save User</button>
                              <a class="btn m-b-xs w-xs btn-default" data-ng-click="cancel();">Back</a>
                     </div>                        
                    </div> <!-- end of row -->
                              
            </div>

					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
                       <div class="row">
    
                          <div class="col-sm-6">
                          <table class="table table-condensed table-hover">

                           				<thead>
                                                <tr>
                                                <th>User Info</th>
                                                <th></th>
                                                </tr>
                                            </thead>
                                            
														<tbody>
															<tr>
																<td>1) Enter User Name</td>
																<td>
                                                                	
                                                                   <input type="text"  placeholder="enter the SAP user id..." class="form-control" data-ng-model="user.Userid">
                                                                   
                                                                        
                                                                </td>
															</tr>
                                                            
															<tr>
																<td>2) Choose Role</td>
         														<td>
        															  <!--<input type="text"  class="form-control" data-ng-model="user.Role">-->
                                                                      <select id="roleSelect"></select>
                                                                        
                                                                </td>
															</tr>

														<tr>
																<td>3) Choose Primary Base</td>
         															<td>
        															 <!-- <input type="text" class="form-control" data-ng-model="user.PrimaryBase">-->
                                                                     <select id="primaryBaseSelect"></select>
                                                                        
                                                                </td>
															</tr>
                                                                
															<tr>
																<td>4) Is User Eligible for Phase 2 Functionality?</td>
         															<td>
        															 <input type="checkbox" ng-model="user.FunctionSW1" ng-true-value="X" ng-false-value=" "  />
                                                                        
                                                                </td>
															</tr>
          
														</tbody>
													</table>
                                                    
                                </div>
                       
                          <div class="col-sm-6">
                            <table class="table table-condensed table-hover">
                            				<thead>
                                                <tr>
                                                <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                                                <th>Alternate Bases</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               <tr data-ng-repeat="item in allBaseList"> 
                                   
                                                    <td><input type="checkbox" class="flat-grey checkbox1" ng-model="item.isChecked" /> </td>
                                                     
                                                        <td>{{item.Name1}} ({{item.Werks}}) </td>
                                                </tr>
                                                                                                                                                  
                                            </tbody>
                             </table>
                                        
                    </div>         

                       </div>
                    
			
            		</div>
       
</div> <!-- end of controller -->

