<div class="bg-white-only wrapper-md" ng-controller="userListCtrl">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h1 class="m-n h1">User List</h1>
         </div>
            
         <div class="col-sm-4 text-right hidden-xs">
                   <a class="btn m-b-xs w-xs btn-default" ui-sref="app.userCreate">Create User</a>
                   <button class="btn m-b-xs w-xs btn-default" data-ng-click="synchUsers()"><i class="fa clip-refresh "></i>Refresh</button>
                  <a class="btn m-b-xs w-xs btn-default" data-ng-click="window.history.back();">Back</a>
         </div>                        
        </div> <!-- end of row -->
                  
    <div class="b-b b-light">
     <!-- Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>-->
      <button class="btn m-b-xs w-xs btn-default" data-ng-click="exportData('userList')"><i class="fa clip-refresh "></i>Export</button>
    </div>
    <div id="userList">
      <table class="table m-b-none" >
        <thead>
    
              <tr>
              <th>
  
              </th>
               <th><a data-ng-click="sortList('Userid')">User Id</a>
              </th>  
              <th><a data-ng-click="sortList('Role')">Role</a>
              </th>
                                    
              <th><a data-ng-click="sortList('PrimaryBase')">Primary Base</a>
              </th>
              <th><a data-ng-click="sortList('PrimaryBase')">Phase 2 Eligible?</a>
              </th>
       
              
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in userList | orderBy:sortColumn:reverse"> <!-- root scope well list -->
   
                    <td class="">
                            <a ui-sref="app.userDetail({id:item.Userid})" class="btn btn-xs btn-green tooltips">
                            <i class="fa fa-edit"></i>View</a>
                     </td>
                     
                        <td>{{item.Userid}}</td>
                        <td>{{item.Role}}</td>
                        <td>{{item.PrimaryBase}}</td>
                        <td><input type="checkbox" ng-model="item.FunctionSW1" ng-true-value="X" ng-false-value=" " disabled /></td>
                </tr>
		</tbody>

      </table>
    </div>
  </div>
