<div ng-controller="userDetailCtrl">
    <div id="mainScreen">
       <div class="row wrapper-md">
         <div class="col-sm-8 col-xs-12">
          <h1 class="m-n h3">Warehouse/Plant Profile:</h1>
         </div>
            
         <div class="col-sm-4 text-right hidden-xs">
                <button class="btn m-b-xs btn-default" data-ng-click="saveUser()"><i class="fa clip-refresh "></i>Save Profile</button>
                <button class="btn m-b-xs btn-default" data-ng-click="cancel()">Back</button>
                <button class="btn m-b-xs btn-default" data-ng-click="showCancelShipmentCheckIn()"><i class="fa clip-edit "></i>Cancel Check In</button>
             
          </div>                        
        </div> <!-- end of row -->

    					<!-- start: PAGE CONTENT -->
                       <div class="row">
    
                          <div class="col-sm-6">
                          <table class="table table-condensed table-hover">

                           				<thead>
                                                <tr>
                                                <th>Plant Info</th>
                                                <th></th>
                                                </tr>
                                            </thead>
                                            
														<tbody>
															<tr>
																<td>1) Enter SAP Plant Number</td>
																<td>
                                                                	
                                                                   <input type="text"  placeholder="enter the SAP Plant number" class="form-control" data-ng-model="plantId">
                                                                   
                                                                        
                                                                </td>
															</tr>
                                                              
															<tr>
																<td>2) Days Back to Select</td>
																<td>
                                                                	
                                                                   <input type="text"  placeholder="enter the number of days to retrieve" class="form-control" data-ng-model="daysHistory"> 
                                                                </td>
															</tr>
														</tbody>
													</table>
                                                    
                                </div>
                       
              
                       </div>
    </div>
    
    <div id="cancelCheckInScreen">
    
		<div class="modal-backdrop fade in" ng-class="{in: animate}" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" modal-backdrop="" style="z-index: 1040;">
        </div>
        	
        <div tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" modal-window="" size="md" index="0" animate="animate" style="top:20%; z-index: 1050; display: block;">

             <div class="modal-dialog modal-md">
                <div class="modal-header ng-scope"> <h3 class="modal-title">Cancel Shipment Check In</h3>
                </div>
                <div class="modal-body ng-scope">
                        Admin Password:
                        <input type="text" data-ng-model="shipment.ADMIN_PASSWORD" class="form-control" placeholder="Please enter the Admin Password"/>
                        <br>
                        Shipment:
                        <input type="text" data-ng-model="shipment.SHIPMENT" class="form-control" placeholder="Enter the shipment number to cancel check-in"/>
                        <br>
                    
                <div class="modal-footer ng-scope"><button class="btn btn-success" data-ng-click="cancelCheckIn()">Submit Cancellation</button><button class="btn btn-default" data-ng-click="hideCancelShipmentCheckIn()">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>   <!-- end of task add div--> 
    
</div>

