<div ng-controller="userEditCtrl">

            <div class="bg-white-only wrapper-md">
            
                    <div class="row">
                     <div class="col-sm-8 col-xs-12">
         				<h1 class="m-n h1 thin">User Profile: {{user.UNAME}}</h1>
                     </div>
                        
                     <div class="col-sm-4 text-right hidden-xs">
                              
                              <button class="btn m-b-xs w-xs btn-default" data-ng-click="refreshUser()">Refresh</button>
                               <button class="btn m-b-xs w-xs btn-default" data-ng-click="saveUserUpdate()"><i class="fa clip-refresh "></i>Save User</button>
                              <button class="btn m-b-xs w-xs btn-default" data-ng-click="cancel()">Back</button>
                     </div>                        
                    </div> <!-- end of row -->
                            
                    <div class="row">
                     <div class="col-sm-8 col-xs-12">
                        <h4 class="m-n h4">Please save after you make changes.</h4>
                     </div>          
            </div>

                       <div class="row">
                          <div class="col-sm-12">
                            <table class="table table-condensed table-hover">
                            				<thead>
                                                <tr>
                                                    <th>
                                                    </th>
                                                    <th>Id
                                                    </th>
                                                    <th>Vendor Name
                                                    </th>
                                                    <th>Location
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               <tr data-ng-repeat="item in allAgentList"> 
                                   
                                                    <td><input type="checkbox" class="flat-grey checkbox1" ng-model="item.isChecked" /> </td>
                                                     
                                                        <td>{{item.LIFNR}} </td>
                                                        <td>{{item.NAME1}}</td>
                                                        <td>{{item.ORT01}} {{item.REGIO}} {{item.LAND1}}</td>
                                                </tr>
                                                                                                                                                  
                                            </tbody>
                             </table>
                                        
                    </div>         

                       </div>
                    
			
            		</div>
       
</div> <!-- end of controller -->

