      <!-- navbar header -->
      <div class="navbar-header {{app.settings.navbarHeaderColor}}" style="background:white">
                    
      </div>
      <!-- / navbar header -->

      <!-- navbar collapse -->
      <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}" style="background:white; margin-left:0px">

        <a  class="navbar-brand text-lt" >
            <img src="img/madixLogo-norm.png" alt="." style="max-height:80px">
        </a>
          
        <!-- link and dropdown -->
        <ul class="nav navbar-nav hidden-sm">
                 <li>
                    <!-- brand -->

        <!-- / brand -->
            </li>       
        </ul>
        <!-- / link and dropdown -->

        
        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">

          <!--<li class="dropdown hidden-sm" is-open="lang.isopen" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
              <span style="color:#58666e">{{selectLang}}</span> <b class="caret" style="color:#58666e"></b>
            </a>
            <ul class="dropdown-menu w">
              <li ng-repeat="(langKey, label) in langs">
                <a ng-click="setLang(langKey, $event)" href>{{label}} {{langKey}}</a>
              </li>
            </ul>
          </li>-->
            

            
          <li>
            <a ui-sref="app.shipmentList()">
              <i class="fa fa-list text-success"></i>
              <span style="color:#58666e" translate="header.navbar.SHIPMENTLIST">Shipment List</span>
            </a>
          </li>
            
          <!--<li>
            <a ui-sref="app.queueList()">
              <i class="fa fa-book text-info"></i>
              <span style="color:#58666e">Queue (queueList.length)</span>
            </a>
          </li>-->
            
          <li>
            <a ui-sref="app.profile()">
              <i class="icon-user text-danger"></i>
              <span style="color:#58666e" translate="header.navbar.ADMIN">Admin</span>
            </a>
          </li>
            
           <li>
            <a ng-click="synchData();">
              <i class="glyphicon glyphicon-refresh text-success"></i>
              <span style="color:#58666e" translate="header.navbar.SYNCH">Synch</span>
            </a>
          </li>
               
          <li>
            <a ng-click="setLang('en', $event)">
              <span style="color:#58666e">English</span>
            </a>
          </li>
            
          <li>
            <a ng-click="setLang('sp_SP', $event)">
              <span style="color:#58666e">Espanol</span>
            </a>
          </li>
            
          <li class="hidden-xs">
            <a ui-fullscreen></a>
          </li>
            
          <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
            </a>
            <ul class="dropdown-menu animated fadeInRight w">
              <li>
                <a ui-sref="app.profile()"><span style="color:#58666e">Profile</span></a>
              </li>
              <li class="divider"></li>
            </ul>
            <!-- / dropdown -->
          </li>
        </ul>
        <!-- / navbar right -->

      </div>
      <!-- / navbar collapse -->
