<!-- list -->
<!--<ul class="nav">
  <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
    <span></span>
  </li>


  <li ui-sref-active="active">
    <a ui-sref="app.shipmentList">
      <i class="glyphicon glyphicon-list text-success" ></i>
      <span class="badge bg-success pull-right ">{{completeCount}}</span>
      <span>Shipments</span>
    </a>
  </li> 

    
   <li ui-sref-active="active">
    <a ui-sref="app.profile()">
      <i class="icon-user"></i>
      <span>Profile</span>
    </a>
  </li> 
    
   <li ui-sref-active="active">
    <a ui-sref="app.queueList()">
      <i class="fa fa-book text-info"></i>
      <span>Queue</span>
    </a>
  </li> 
    

</ul>-->
