<div ng-controller="priceEditCtrl" class="bg-white">
				<div class="wrapper-md" id="createScreen">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">

                            <div class="btn-group btn-group-md" style="float:right">
                            	 <a id="" data-ng-click="savePriceChange()" class="btn  btn-success">
                    			Submit Quote</a>                                           
                  			</div>
                            
							<div class="page-header" style="margin-top:0px">         
                              <span class="m-n h1 hidden-xs">Change Price Quote {{opportunity.AccountName.content}}</span>
                              <span class="m-n h3 visible-xs">Change Price Quote {{opportunity.AccountName.content}}</span>
							</div>
						</div>
					</div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
                       <div class="row">
    
                        <div class="col-sm-4">
                          
                          
                          <table class="table table-condensed">

														<tbody>
                                                            
                                                            <tr>
																<td>Opportunity</td>
																<td>
                                                                	<div class="col-sm-12">
                                                                        {{price.OPPORTUNITY_NAME}} 
                                                                    </div> 
                                                                </td>
															</tr>
                                                                    
                                                            <tr>
																<td>Sold To</td>
																<td>
                                                                	<div class="col-sm-12" >
                                                                        {{price.NAME}} {{price.CUSTOMER}}
                                                                    </div>
                                                        
                                                                    
                                                                </td>
															</tr>
                                                            
														</tbody>
													</table>
                                                    
                                </div>
                                
                                <div class="col-sm-4">
                          
                          				<table class="table table-condensed">

														<tbody>

                                                            <tr>
																<td>3) Effective Date</td>
                                                              	<td>                                                                
                                                                <div class="col-sm-12" ng-controller="DatepickerDemoCtrl">
                                                                    <div class="input-group w-sm">
                                                                      <input type="text" class="form-control" id="effectiveDateInput" datepicker-popup="MM/dd/yyyy" ng-model="price.EFFECTIVE_DATE" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                                                                      <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                      </span>
                                                                    </div>
                                                                

                                                                </div>

																</td>
															</tr>
                                                            <tr>
																<td>4) Expiration Date</td>
                                                              	<td>                                                                
                                                                <div class="col-sm-12" ng-controller="DatepickerDemoCtrl">
                                                                    <div class="input-group w-sm">
                                                                      <input type="text" class="form-control" id="expirationDateInput" datepicker-popup="MM/dd/yyyy" ng-model="price.EXPIRATION_DATE" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
                                                                      <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                                                      </span>
                                                                    </div>
                                                                </div>

																</td>
															</tr>
                                                                                                                                                          
														</tbody>
													</table>
                                                    
                                </div>
                           
                <div class="col-sm-4" style="margin-top:-20px">
                    
                    <div class="col-xs-8">
                        <canvas id="foo"></canvas>
                    </div>
                    
                    <div class="col-xs-4">
                      <div class="panel  item" style="opacity:.7">
                        <div class="h1 text-info font-thin h1 ng-binding float-right" animate="true">{{totalTPIValue}}</div>
                        <span class="">Quote Score</span>
                      </div>
                    </div>

                      <!--<div class="col-xs-4">
                      <div class="panel item" style="opacity:.7" ng-show="app.settings.commissions == true">
                        <div class="h2 text-gray font-thin h2 ng-binding ">$ {{totalCommission}}</div>
                        <span class="">My Commission</span>
                      </div>
                    </div>-->
                    
                      <div class="col-xs-4">
                      <div class="panel item" style="opacity:.7">
                        <div class="h2 text-gray font-thin h2 ng-binding ">$ {{totalRevenue}}</div>
                        <span class="">Total Value</span>
                      </div>
                    </div>
  
          </div>
        </div>
                                           
                                           
                   <div class="row">

                       <div class="col-sm-12">
                       <a class="btn btn-sm btn-info btn-rounded" style="margin-left:20px"
                                        ng-click="addItems()" ng-show="soldTo"><i class="fa fa-plus"></i>
                                    Add Item</a>
                           
                          
                            <div ng-controller="fileUploadCtrl" ng-show="soldTo">
                                <p><input type="file" name="xlfile" id="xlf"/></p>

                                   <a class="btn btn-sm btn-info btn-rounded" ng-click="handleFileUpload($scope.buildUploadedProducts)">Upload</a>
                            </div>
                        </div>
                  </div>
                    <div class="row">
                        <table id="priceItems" class="table responsive" wt-responsive-table>
                            <thead>
                                <tr>
                                    <th>Actions</th>
                                    <th class="hidden-lg">Item</th>
                                    <th>Material</th>
                                    <th>Description</th>
                                    <th>List Price</th>
                                    <th>Sales Quantity</th>
                                    <th>Discount/Smart Price %</th>
                                    <th>Quote Price $</th>
                                    <th>Quote Score</th>
                                    <th>Smart Price</th>
                                    <th>Power Price</th>
                                    <th>Floor Price</th>
                                    <th>Contract Price</th>
                                    <th style="width:90px">Total Value $</th>
        

                                </tr>
                                
                        </thead>
                            <tbody>
                                <tr ng-repeat="item in priceDetails">
                                    <td>                                        
                                        <a class="btn btn-sm btn-default btn-rounded" ng-show="item.MATERIAL"
                                            ng-click="deleteItem({id:item.ItemNumber})">
                                        <i class="fa fa-trash-o"></i></a>
                                        
                                        <a class="btn btn-sm btn-default btn-rounded" ng-show="item.MATERIAL"
                                            ng-click="materialInfo({id:item.ItemNumber})">
                                        <i class="fa fa-info"></i></a>
                                    </td>
                                    
                                    <td class="hidden-lg">
                                     {{item.ItemNumber}}
                                    </td>
 
                                    <td>       
                                        <input type="text"  data-ng-model="item.MATERIAL" min="0" ng-change="typeMaterial({id:item.ItemNumber})" ng-show="soldTo" class="form-control rounded"/>
                                    
                                        <div ng-show="soldTo">
                                       <a class="btn btn-sm btn-info btn-rounded" ng-hide="item.MATERIAL" ng-click="showMaterialList({id:item.ItemNumber})"><i class="fa fa-plus"></i>
                                        Select</a></div>
                                    </td> 
                                    <td>{{item.DESCRIPTION}}</td>

                                    <td>{{item.LIST_PRICE}} <span ng-show="LIST_PRICE">/</span> {{item.TARGET_PRICE_UOM}}</td>
                                    
                                        <td><input type="text" data-ng-model="item.EXPECTED_SALES" min="0" ng-change="calculateTotalRevenue()" class="form-control rounded" ng-show="item.MATERIAL"/> {{item.BID_PRICE_UOM}}</td>
                                    
                                        <td><span ng-model="item.DISCOUNT_PCT" ng-show="item.MATERIAL" ng-change="discountChange('1')">{{item.DISCOUNT_PCT}} %</span> 
         
                                            <!--<div slider id="Disc_{{item.ItemNumber}}" style="background: #23b7e5" ng-model="item.DISCOUNT_PCT" onchange="angular.element(this).scope().discountSliderChange(this)" start=-80 end=39 ></div>-->
                                            <div slider id="Disc_{{item.ItemNumber}}" onchange="angular.element(this).scope().discountSliderChange(this)" style="background: #23b7e5" ng-model="item.DISCOUNT_PCT" start=-80 end=39 ng-if="item.MATERIAL"></div>
                                        </td>
                                    
                                    <td><input type="text"  data-ng-model="item.BID_PRICE"  ng-show="item.MATERIAL" class="form-control rounded" style="width:70px" ng-change="bidPriceChange({id:item.ItemNumber})">{{item.BID_PRICE_UOM}}
                                                          
                                    </td>

                                    <td style="width:60px"><h4><span ng-show="item.MATERIAL" class="label label-lg label-{{item.TPI_CLASS}}">{{item.TARGET_PRICE_INDEX}} %</span></h4></td>
                                    <td><span ng-show="item.MATERIAL">{{item.TARGET_PRICE}}</span></td>
                                    <td>{{item.STRETCH_PRICE}}</td>
                                    <td>{{item.EXCEPTION1_PRICE}}
                                    </td>
                                    <td>{{item.CSP_PRICE}}
                                    {{item.CSP_EXP_DATE}}</td> 
                                    <td><span ng-show="item.MATERIAL">$ {{item.EXPECTED_REVENUE}}</span></td> 

                                </tr>
                            </tbody>
                            </table>

                        <!-- output data -->
                        <pre id="out" style="visibility:hidden"></pre>
                        

                       </div>
			
            		</div>

<!-- ship to customers -->
<div class="bg-white-only wrapper-md" id="customerListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h3 class="m-n h3">My Customer Locations</h3>
         </div>
            
         <div class="col-sm-4 text-right">
                  <a class="btn btn-default btn-round" data-ng-click="closeCustomerList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
            

    <div class="b-b b-light">
      Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
    </div>
    <div>
        <table class="table table-condensed">
        <thead>
    
              <tr>
              <th data-toggle="true">
              </th>
                <th>Customer</th> 
                <th>Name</th>     
                <th data-hide="phone">City</th> 
                <th data-hide="phone">State</th>  
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in customerList">    
                    <td class="">
                    <button id="{{item.CUSTOMER}}" ng-click="selectCustomer({id:item})" class="btn btn-sm btn-default btn-round">
                            <i class="fa fa-edit"></i>Select</button>
                     </td>
                    <td>{{item.CUSTOMER}}</td>
                    <td class="description">{{item.CUSTOMER_NAME}}</td> 
                   <td class="description">{{item.CITY}}</td>   
                   <td class="description">{{item.REGION}}</td>   
                </tr>
		</tbody>
      </table>
    </div>
</div>
      
<div class="bg-white-only wrapper-md" id="opportunityListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h3 class="m-n h3">My Opportunities</h3>
         </div>
            
         <div class="col-sm-4 text-right">
                  <a class="btn m-b-xs btn-default btn-rounded" data-ng-click="closeOpportunityList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
            
    <div>
        <table class="table table-condensed">
        <thead>
    
              <tr>
                  <th class="hidden-xs">

                  </th>

                  <th>
                      Name
                  </th>
                  <th>
                      Account
                  </th>
                  <th class="hidden-xs">
                      Contact
                  </th>   
                  <th class="hidden-xs">
                      Phase
                  </th> 
                   <th class="hidden-xs">
                      Priority
                  </th>             
              
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in opportunityList" ng-click="selectOpportunity({id:item})">
   
                    <td class="hidden-xs">
                    <button id="{{item.OpportunityID}}" ng-click="selectOpportunity({id:item})" class="btn btn-xs btn-default tooltips">
                    <i class="fa fa-edit"></i>Select</button>  
                     </td>
                     
                        <td class="description">{{item.Name.content}}</td>
                        <td>{{item.AccountName.content}}</td>
                        <td class="hidden-xs">{{item.PrimaryContactName.content}}</td>
                        <td class="hidden-xs">{{item.SalesPhaseCodeText}}</td>
                        <td class="hidden-xs">{{item.PriorityCodeText}}</td>  
                        <td class="hidden-lg"><a ui-sref="app.priceDetail({id:item.PRICE_REQUEST})">
                            <i class="fa fa-angle-right fa-2x"></i></a>
                        </td>  
                </tr>
		</tbody>
      </table>

    </div>
</div>
    
<div class="bg-white-only wrapper-md" id="soldToListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h3 class="m-n h3">My Customers</h3>
         </div>
            
         <div class="col-sm-4 text-right">
                  <a class="btn m-b-xs btn-default btn-rounded" data-ng-click="closeSoldToList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
         
    <div class="row">
        <div class="b-b b-light col-sm-4">
          Search: <input id="filter" type="text" ng-model="search" class="form-control input-sm w-sm inline m-r"/>
        </div>
    </div> 

    <div>
        <table class="table table-condensed">
        <thead>
    
              <tr>
                <th class="hidden-xs">
                </th>
                <th>Name</th> 
                <th>City</th> 
                <th class="hidden-xs">State</th> 
                <th >Customer</th> 
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in customerList | filter:search" ng-click="selectSoldTo({id:item})"> 
                    <td class="hidden-xs">
                    <button id="{{item.CUSTOMER}}" ng-click="selectSoldTo({id:item})" class="btn btn-sm btn-default btn-rounded">
                            <i class="fa fa-edit"></i>Select</button>
                     </td>
                    <td>{{item.CUSTOMER_NAME}}</td>  
                   <td>{{item.CITY}}</td>   
                   <td class="hidden-xs">{{item.REGION}}</td>   
                    <td>{{item.CUSTOMER}}</td>
                     <td class="hidden-lg"><a ui-sref="app.priceDetail({id:item.PRICE_REQUEST})">
                            <i class="fa fa-angle-right fa-2x"></i></a>
                      </td>  
                </tr>
		</tbody>
      </table>
    </div>
</div>
    
<div class="bg-white-only wrapper-md" id="materialListScreen">

        <div class="row">
         <div class="col-sm-8 col-xs-12">
  			<h3 class="m-n h3">Materials for {{soldToName}} </h3>
         </div>
            
         <div class="col-sm-4 text-right">
                  <a class="btn m-b-xs btn-default btn-rounded" data-ng-click="closeMaterialList();">Back</a>
         </div>                        
        </div> <!-- end of row -->
            
    <div class="row">
        <div class="b-b b-light col-sm-4">
          Scan: <input id="scanInput" type="text" data-ng-model="scannedMaterial" ng-change="scanMaterial()" class="form-control input-sm w-sm inline m-r"/>
        </div>

        <div class="b-b b-light col-sm-4">
          Search: <input id="filter" type="text" ng-model="searchMaterial" class="form-control input-sm w-sm inline m-r"/>
        </div>
    </div>    
    
    <div>
        <table class="table table-condensed">
        <thead>
              <tr>
              <th class="hidden-xs">
  
              </th>
                <th>Product</th>  
                <th>Product Id</th>
                <th>UPC</th>
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in filteredMaterials | filter:searchMaterial" ng-click="selectMaterial({id:item})">    
                    <td class="hidden-xs">
                    <button id="{{item.Material}}" class="btn btn-sm btn-default btn-rounded">
                    <i class="fa fa-edit"></i>Select</button>
                     </td>
                   <td class="description">{{item.DESCRIPTION}}</td> 
                    <td>{{item.MATERIAL}}</td>  
                    <td>{{item.UPC_CODE}}</td>  
                     <td class="hidden-lg"><a>
                            <i class="fa fa-angle-right fa-2x"></i></a>
                      </td>  
                </tr>
		</tbody>
      </table>
    </div>
</div>
    
<div class="bg-white-only wrapper-md" id="guideScreen">


</div>
    
  <div class="settings panel panel-default" id="materialInfoDrawer">
  <!--<button class="btn btn-default no-shadow pos-abt" ui-toggle-class="active" id="materialInfoBtn" target=".settings">
    <i class="fa fa-spin fa-gear"></i>
  </button>-->
      
  <div class="panel-heading">
    <a href class="pull-right btn btn-sm btn-danger m-t-n-xs" ui-toggle-class="active" target=".settings">Close</a>
    <div class="h4">Material Info:<br> <b>{{materialInfoData.DESCRIPTION}} </b></div>
  </div>
      
  <div class="panel-body"> 
    <div class="m-b-sm">
        <b>ATP Info</b>
            <div class="padder">
              <div class="list-group">
                <a ng-repeat="atpInfo in materialInfoData.ATP_INFO | orderBy:'NAME'" class="list-group-item b-l-{{note.color}} b-l-3x hover-anchor">
                  <span class="block text-ellipsis">{{ atpInfo.NAME }}</span>
                  <small class="text-muted">{{ atpInfo.REC_REQD_QTY }}</small>
                </a>
              </div>
            </div>
        
    </div>
      
    <div class="m-b-sm">
            <b>Recent Orders</b>
            <div class="padder">
              <div class="list-group">
                <a ng-repeat="orderInfo in materialInfoData.TBL_LAST_ORDERS | orderBy:'NAME'" class="list-group-item b-l-{{note.color}} b-l-3x hover-anchor">
                  <span class="block text-ellipsis">{{ orderInfo.SD_DOC }} {{ orderInfo.DOC_DATE }}</span>
                  <small class="text-muted">{{ orderInfo.REQ_QTY }} {{ orderInfo.SALES_UNIT }} 
                      ${{ orderInfo.CUSTOMER_PRICE }}</small>
                </a>
              </div>
            </div>
        
    </div>
      
  </div>

  </div>
    
</div> <!-- end of controller -->

<!-- file upload hidden fields -->
<input type="checkbox" name="useworker" checked hidden>
<input type="checkbox" name="xferable" checked hidden>
<input type="checkbox" name="userabs" checked hidden>
