<div class="bg-white-only wrapper-sm" ng-controller="shipmentListCtrl">

    <div class="row">
                
        <div class="col-sm-9" style="">
    
              <div class="r bg-white-only item hbox no-border" ui-sref="app.shipmentList()">
                <div class="col w-xs v-middle">
                    <div><span style="margin-left:15px">
                             <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-success"></i>
                                <i class="fa fa-book fa-stack-1x text-white"></i>
                              </span>
                        </span></div>
                </div>
                <div class="col padder-v r-r">
                  <div class="text-default-dk font-thin h1 hidden-xs"><span class="ng-binding" translate="app.shipmentList.TITLE">Shipment List</span></div>
                <div class="text-default-dk font-thin h3 visible-xs"><span class="ng-binding" translate="app.shipmentList.TITLE">Shipment List</span>
                </div>
                  <!--<span class="h1" >{{app.shipmentListFiltered.length}} 
                      <span translate="app.shipmentList.TOTAL">Total</span>
                  </span>-->
                </div>
              </div>
            </div>
        
            <div class="col-sm-3" style="float:right">
                    <span class="h3 font-thin" ><p>{{ clock  | date:'medium'}}</p></span> 
            </div>
        </div>         

    <div class="row">
        
        <div class="col-sm-9">
                <p><span class="h3 text-danger-dker" translate="app.shipmentList.INSTRUCTIONS">Drivers, to sign in please select your shipment number from the list below or search for your shipment number with the search box on the above.</span></p>
        </div>
        
        <div class="col-sm-3">
                 <span translate="app.shipmentList.SHIPMENT">Shipment:</span> 
            
            <div class="input-group">
              <input id="filter" type="text" ng-model="search" class="form-control inline m-r">
              <span class="input-group-btn">
                <button class="btn btn-default clear" type="button" ng-click="clearSearch()"><span class="glyphicon glyphicon-remove"></span></button>
              </span>
            </div>
            
        </div>
        
    </div>
    
<div class="bg-white-only">
    
    <div class="b-b b-light">
      <!--Search: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>-->
    </div>
    <div>
    <table class="table table-condensed">
        <thead>
    
              <tr>
                  <th><span translate="app.shipmentList.SHIPMENT">Shipment</span></th>
                  <th><span translate="app.shipmentList.DESTINATION">Destination</span></th>
                  <th><span translate="app.shipmentList.CUSTOMER">Customer</span></th>
                  <th><span translate="app.shipmentList.APPOINTMENTTIME">Appointment Time</span></th>
                  <th class="hidden-lg"></th>
             </tr>
        </thead>
            
         <tbody>
               <tr data-ng-repeat="item in app.shipmentListFiltered | filter: search "  ui-sref="app.shipmentDetail({id:item.TKNUM})">
   
                    <td class="hidden-xs">
                           <a ui-sref="app.shipmentDetail({id:item.TKNUM})" class="btn btn-sm btn-default btn-rounded hidden-xs hidden-sm hidden-md">
                            <i class="fa fa-edit"></i></a>&nbsp;<span ui-sref="app.shipmentDetail({id:item.TKNUM})">{{item.TKNUM}}</span>
                     </td>
                   <td ui-sref="app.shipmentDetail({id:item.TKNUM})">{{item.EDORT01}}</td>
                   <td ui-sref="app.shipmentDetail({id:item.TKNUM})">{{item.SHIPTO_NAME}}</td> 
                   <td ui-sref="app.shipmentDetail({id:item.TKNUM})">{{item.DPREG | date: 'MM/dd/yyyy'}} at {{item.UPREG}}</td>
                    <td class="hidden-lg"><a ui-sref="app.shipmentDetail({id:item.TKNUM})">
                            <i class="fa fa-angle-right fa-2x"></i></a>
                    </td>
                </tr>
		</tbody>

      </table>
    </div>
  </div>
</div>
