<div ng-controller="shipmentDetailCtrl" class="bg-white">
				<div class="wrapper-md" id="createScreen">
					<!-- start: PAGE HEADER -->
					<div class="row">
						<div class="col-sm-12">

                            <!--<div class="btn-group btn-group-md" style="float:right">                          
                                <a class="btn btn-success" data-ng-click="checkIn()"><span translate="app.shipmentDetail.CHECKIN">Check In</span></a> 
                                <a class="btn btn-default" data-ng-click="cancel()"><span translate="app.shipmentDetail.NOTMYSHIPMENT">Not My Shipment/Back</span></a>                                   
                  			</div>-->
                            
							<div class="" style="margin-top:0px; border-bottom: 0px">
                                  <span class="m-n h1 hidden-xs font-thin" translate="app.shipmentDetail.SHIPMENTCHECKIN">Shipment Check In</span>
                                  <span class="m-n h3 visible-xs font-thin" translate="app.shipmentDetail.SHIPMENTCHECKIN">Shipment Check In</span>
                                <span class="h3 font-thin" style="float: right">{{ clock  | date:'medium'}}</span> 
							</div>
						</div>
					</div>
                    
                    <div class="row" style="margin-bottom:10px">
                    <div class="col-sm-12" >
                            <div class="btn-group btn-group-md" style="float:right">                          
                                <a class="btn btn-success" data-ng-click="checkIn()"><span translate="app.shipmentDetail.CHECKIN">Check In</span></a> 
                                <a class="btn btn-default" data-ng-click="cancel()"><span translate="app.shipmentDetail.NOTMYSHIPMENT">Not My Shipment/Back</span></a>                                   
                  			</div>
                        </div>
                    </div>
					<!-- end: PAGE HEADER -->
					<!-- start: PAGE CONTENT -->
                       <div class="row">
    
                        <div class="col-sm-6">
                                <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <td><span translate="app.shipmentDetail.SHIPMENT">Shipment</span></td>
                                                <td>{{request_id}}</td>
                                            </tr>

                                            <tr>
                                                <td><span translate="app.shipmentDetail.CUSTOMER">Customer</span></td>
                                                <td>{{shipment.SHIPTO_NAME}}</td>
                                            </tr>

                                            <tr>
                                                <td><span translate="app.shipmentDetail.COMPANYNAME">Company Name</span></td>
                                                <td>
                                                    <div class="col-sm-12">
                                                    <input type="text" id="base" class="form-control" data-ng-model="shipment.COMPANY">
                                                    </div>
                                                </td>
                                            </tr>
                                            
    								        <tr>
                                                <td><span translate="app.shipmentDetail.DRIVERNAME">Driver Name</span></td>
                                                <td>
                                                    <div class="col-sm-12">
                                                    <input type="text" id="base" class="form-control" data-ng-model="shipment.NAME">
                                                    </div>
                                                </td>
								            </tr> 
                                            
    								        <tr>
                                                <td><span translate="app.shipmentDetail.CELLPHONE">Cell Phone #</span></td>
                                                <td>
                                                    <div class="col-sm-12">
                                                    <input type="text" class="form-control" ng-model="shipment.TELEPHONE" ui-mask="(999) 999-9999"  ui-mask-placeholder ui-mask-placeholder-char="_"/>
                                                        
                                                    </div>
                                                </td>
								            </tr> 
                                            
                                        </tbody>
                                    </table>                 
                            </div>
                                
                        <div class="col-sm-6">
                                <table class="table table-condensed">
                                        <tbody>
                                                                                        
                                            <tr>
                                                <td><span translate="app.shipmentDetail.APPOINTMENT">Appointment</span></td>
                                                <td>{{shipment.DPREG | date: 'MM/dd/yyyy'}} at {{shipment.UPREG}}</td>
                                            </tr>

                                            <tr>
                                                <td><span translate="app.shipmentDetail.DESTINATION">Destination</span></td>
                                                <td>{{shipment.EDORT01}} {{shipment.REGIO}}</td>
                                            </tr>
                                            
                                            
    								        <tr>
                                                <!--<td><span class="has-error" translate="app.shipmentDetail.TRUCKNUMBER">Truck Number</span></td>-->
                                                <td><span  translate="app.shipmentDetail.TRUCKNUMBER">Truck Number</span></td>  
                                                <td>
                                                    <!--<div class="col-sm-12 has-error">-->
                                                    <div class="col-sm-12">
                                                    <input type="text" id="base" class="form-control" data-ng-model="shipment.TRUCK">
                                                    </div>
                                                </td>
								            </tr> 
                                            
    								        <tr>
                                                <td><span translate="app.shipmentDetail.TRAILERNUMBER">Trailer Number</span></td>
                                                <td>
                                                    <div class="col-sm-12">
                                                    <input type="text" id="base" class="form-control" data-ng-model="shipment.TRAILER">
                                                    </div>
                                                </td>
								            </tr> 
                                            
                                        </tbody>
                                    </table>                 
                            </div>
                        </div>
                           
                        <div class="well m-t bg-light lt">
                          <div class="row">
                            <div class="col-xs-12">
                                <p><b><span translate="app.shipmentDetail.TERMSHEADER">ATTENTION ALL CUSTOMER ARRANGED DRIVERS</span></b></p>
                                <p><b><span translate="app.shipmentDetail.TERMS1">You will be required to complete the following steps before Madix will start loading your trailer</span></b></p>
                                <ol>
                                    <li><b><span translate="app.shipmentDetail.TERMS2">Slide your rear tandems all the way back then back into the designated door.</span></b>
                                </li>
                                    <li><b><span translate="app.shipmentDetail.TERMS3">Lower the trailer landing gear all the way down.</span></b>
                                </li>
                                    <li><b><span translate="app.shipmentDetail.TERMS4">Disconnect the trailer air line and stay under the trailer.</span></b>
                                </li>
                                    <li><b><span translate="app.shipmentDetail.TERMS5">Wait in your tractor.  When we are done loading someone will alert you.</span></b>
                                </li>
                                    <li><b><span translate="app.shipmentDetail.TERMS6">A lock will be placed on the trailer brake line by the loader.  When the loading is complete, the lock will be removed.</span></b>
                                </li>
                                    <li><b><span translate="app.shipmentDetail.TERMS7">If any step above is altered then loading will immediately stop until all the above requirements are met again.</span></b>
                                </li>
                                </ol>
                                <p><b><span translate="app.shipmentDetail.TERMS8">SAFETY IS OUR FIRST AND PRIMARY CONCERN</span></b></p>
                            </div>
                          </div>
                        </div>
                           
                </div>
            
    <div class="bg-white-only wrapper-md" id="shipmentPrintScreen">

        <div class="">
          <div>
            <!--<img src="img/madixLogo.png" height="70px">-->
              <a href class="btn btn-default pull-right " ng-click="hideShipmentPrint();"><span translate="app.shipmentDetail.CLOSE">Close</span></a> 
              <a class="btn btn-success pull-right" data-ng-click="saveSignature()"><span translate="app.shipmentDetail.FINISHCHECKIN">Finish Check In</span></a> 
              
            <div class="row">
              <div class="col-xs-6">
                  <h4><span translate="app.shipmentDetail.MADIXTITLE">Madix Inc. Driver Check In</span></h4>
               </div>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <p class="m-t m-b"><strong><span translate="app.shipmentDetail.PICKUP">Pick Up # (Shipment): </span>{{request_id}}</strong><br>
                <span translate="app.shipmentDetail.DESTINATION">Destination</span>: <strong>{{shipment.EDORT01}}  {{shipment.REGIO}}</strong><br>
                <span translate="app.shipmentDetail.APPOINTMENT">Appointment</span>: <strong>{{shipment.DPREG | date: 'MM/dd/yyyy'}} at {{shipment.UPREG}}</strong><br>
                <span translate="app.shipmentDetail.TRUCKNUMBER">Truck #</span>: <strong>{{shipment.TRUCK}}</strong><br>
                <span translate="app.shipmentDetail.TRAILERNUMBER">Trailer #</span>: <strong>{{shipment.TRAILER}}</strong><br>
                </p>
                  
              </div>
              <div class="col-xs-6 text-left">
                  <p class="m-t m-b"><span translate="app.shipmentDetail.DRIVERNAME">Driver's Name</span>:<strong>{{shipment.NAME}}</strong><br>
                    <span translate="app.shipmentDetail.COMPANYNAME">Company</span>: <strong>{{shipment.COMPANY}}</strong><br>
                    <span translate="app.shipmentDetail.CELLPHONE">Cell Phone #: </span>:<strong>{{shipment.TELEPHONE}}</strong><br>
                    <span translate="app.shipmentDetail.CHECKINDATE">Check In Date: </span>:<strong>{{shipment.SIGNATURE_DATE}}</strong><br>
                    <span translate="app.shipmentDetail.CHECKINTIME">Check In Time: </span>:<strong>{{shipment.SIGNATURE_TIME}}</strong><br>
                </p>
                  
              </div>
            </div>
              
            <div class="well bg-light lt" style="margin-bottom:0px; padding-bottom:0px">
              <div class="row">
                <div class="col-xs-12">
                    <p><b><span translate="app.shipmentDetail.TERMSHEADER">ATTENTION ALL CUSTOMER ARRANGED DRIVERS</span></b></p>
                    <p><b><span translate="app.shipmentDetail.TERMS1">You will be required to complete the following steps before Madix will start loading your trailer</span></b></p>
                    <ol>
                        <li><b><span translate="app.shipmentDetail.TERMS2">Slide your rear tandems all the way back then back into the designated door.</span></b>
                    </li>
                        <li><b><span translate="app.shipmentDetail.TERMS3">Lower the trailer landing gear all the way down.</span></b>
                    </li>
                        <li><b><span translate="app.shipmentDetail.TERMS4">Disconnect the trailer air line and stay under the trailer.</span></b>
                    </li>
                        <li><b><span translate="app.shipmentDetail.TERMS5">Wait in your tractor.  When we are done loading someone will alert you.</span></b>
                    </li>
                        <li><b><span translate="app.shipmentDetail.TERMS6">A lock will be placed on the trailer brake line by the loader.  When the loading is complete, the lock will be removed.</span></b>
                    </li>
                        <li><b><span translate="app.shipmentDetail.TERMS7">If any step above is altered then loading will immediately stop until all the above requirements are met again.</span></b>
                    </li>
                    </ol>
                    <p><b><span translate="app.shipmentDetail.TERMS8">SAFETY IS OUR FIRST AND PRIMARY CONCERN</span></b></p>
                </div>
              </div>
            </div>
              
            <div class="well bg-light lt" style="margin-bottom:0px; padding-bottom:0px">
              <div class="row">
                <div class="col-xs-12">
                    <p>
                        <span translate="app.shipmentDetail.AGREE">By signing this document, I acknowledge the above safety requirements and procedures and agree to follow them.</span>
                  </p>
                    
                    <strong><span translate="app.shipmentDetail.SIGNHERE" style="color:red;">Sign Here &amp; Agree to Terms:</span></strong>
                    <div style="margin-top: 10px" id="signatureOnlyElement">
                        <canvas id='signatureCanvas' ng-touch="setIsSigned()" ng-click="setIsSigned()" width="900px" style='border: 1px solid grey; height:150px'>
                        </canvas>
                    </div>
                </div>
              </div>
            </div>

            <div class="line"></div>
            </div>
        </div>
        
    </div>
    
</div> <!-- end of controller -->

