<div class="bg-white-only wrapper-sm" ng-controller="accountListCtrl">

    <div class="row">
        
        <div class="col-sm-8" style="">
    
              <div class="r bg-white-only item hbox no-border" ui-sref="app.accountList()">
                <div class="col w-xs v-middle">
                    <div><span style="margin-left:15px">
                             <span class="fa-stack fa-2x">
                                <i class="fa fa-circle fa-stack-2x text-info"></i>
                                <i class="fa fa-book fa-stack-1x text-white"></i>
                              </span>
                        </span></div>
                </div>
                <div class="col padder-v r-r">
                  <div class="text-default-dk font-thin h1 hidden-xs"><span class="ng-binding">My Queue</span></div>
                  <div class="text-default-dk font-thin h3 visible-xs"><span class="ng-binding">My Queue</span></div>
                  <span class="">0 Total</span>
                </div>
              </div>
            </div>
                <div class="col-sm-3  hidden-xs hidden-sm">
                                Search: <input id="filter" type="text" ng-model="search" class="form-control input-sm w-sm inline m-r"/>
                </div>
        
             <div class="col-sm-1 hidden-xs">
                <a class="btn m-b-xs btn-default btn-rounded" data-ng-click="cancel()">Back</a>
             </div>
            

        </div>  

<div class="bg-white-only">

    <div>
        <table class="table table-condensed">
        <thead>
    
              <tr>
              <th class="hidden-xs">
              </th>
                 
              <th>
                  Type
              </th>
                  
              <th>
                  Customer
              </th>   
              <th>
                  Date
              </th> 
               <th class="hidden-xs">
                  Status
              </th>             
              
              <th>
                  Tracking #
              </th>
                  
             </tr>
        </thead>
            
         <tbody>

		</tbody>
      </table>
    </div>
  </div>
</div>