<div ng-controller="profileDetailCtrl">
    <div id="mainScreen">
       <div class="row wrapper-md">
         <div class="col-sm-8 col-xs-12">
          <h1 class="m-n h3">Warehouse/Plant Profile:</h1>
         </div>
            
         <div class="col-sm-4 text-right hidden-xs">
                <button class="btn m-b-xs btn-default" data-ng-click="saveUser()"><i class="fa clip-refresh "></i>Save Profile</button>
                <button class="btn m-b-xs btn-default" data-ng-click="cancel()">Back</button>
                <button class="btn m-b-xs btn-default" data-ng-click="showCancelShipmentCheckIn()"><i class="fa clip-edit "></i>Cancel Check In</button>
             
          </div>                        
        </div> <!-- end of row -->

    					<!-- start: PAGE CONTENT -->
                       <div class="row">
    
                          <div class="col-sm-6">
                          <table class="table table-condensed table-hover">

                           				<thead>
                                                <tr>
                                                <th>Plant Info</th>
                                                <th></th>
                                                </tr>
                                            </thead>
                                            
														<tbody>
															<tr>
																<td>1) Enter SAP Plant Number</td>
																<td>
                                                                	
                                                                   <input type="text"  placeholder="enter the SAP Plant number" class="form-control" data-ng-model="plantId">
                                                                   
                                                                        
                                                                </td>
															</tr>
                                                              
															<tr>
																<td>2) Days Back to Select</td>
																<td>
                                                                	
                                                                   <input type="text"  placeholder="enter the number of days to retrieve" class="form-control" data-ng-model="daysHistory"> 
                                                                </td>
															</tr>
														</tbody>
													</table>
                                                    
                                </div>
                       
              
                       </div>
    </div>
    
    <div id="cancelCheckInScreen">
    
		<div class="modal-backdrop fade in" ng-class="{in: animate}" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" modal-backdrop="" style="z-index: 1040;">
        </div>
        	
        <div tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" modal-window="" size="lg" index="0" animate="animate" style="top:5%; z-index: 1050; display: block;">

             <div class="modal-dialog modal-lg">
                <div class="modal-header ng-scope"> <h3 class="modal-title">Cancel Shipment Check In</h3>
                </div>
                <div class="modal-body ng-scope">
                        Admin Password:
                        <input type="text" data-ng-model="shipment.ADMIN_PASSWORD" class="form-control" placeholder="Please enter the Admin Password"/>
                        <br>
                        Shipment:
                        <input type="text" data-ng-model="shipment.SHIPMENT" class="form-control" placeholder="Enter the shipment number to cancel check-in"/>
                        <button class="btn btn-default" data-ng-click="showShipmentSearch()">Search</button>
                    
                        <br>
                    
                <div class="modal-footer ng-scope"><button class="btn btn-success" data-ng-click="cancelCheckIn()">Submit Cancellation</button><button class="btn btn-default" data-ng-click="hideCancelShipmentCheckIn()">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>   <!-- end of task add div--> 
    
    <div id="shipmentSearch">
    
		<div class="modal-backdrop fade in" ng-class="{in: animate}" ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" modal-backdrop="" style="z-index: 1040;">
        </div>
        	
        <div tabindex="-1" role="dialog" class="modal fade ng-isolate-scope in" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" modal-window="" size="lg" index="0" animate="animate" style="top:5%; z-index: 1050; display: block;">

             <div class="modal-dialog modal-lg">
                <div class="modal-header ng-scope"> <h3 class="modal-title">Search for Shipment</h3><h4>{{pagedItems.length|json}} Items</h4>
                </div>
                <div class="modal-body ng-scope">
                        <div class="row">
                            <div class="col-sm-3">
                            <span translate="app.shipmentList.SHIPMENT">Shipment:</span> 
                                <div class="input-group">
                                  <input id="filter" type="text" ng-model="search" class="form-control inline m-r">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default clear" type="button" ng-click="clearSearch()"><span class="glyphicon glyphicon-remove"></span></button>
                                  </span>                                    
                                </div>
                            </div>
                            
                            <div class="col-sm-6">
                                <button class="btn btn-default" data-ng-click="hideShipmentSearch()">Close</button>
                            </div>
                        </div>
                    
                        <div>
                        <table class="table table-condensed">
                            <thead>

                                  <tr>
                                      <th>Action</th>
                                      <th><span translate="app.shipmentList.SHIPMENT">Shipment</span></th>
                                      <th><span translate="app.shipmentList.DESTINATION">Destination</span></th>
                                      <th><span translate="app.shipmentList.CUSTOMER">Customer</span></th>
                                      <th><span translate="app.shipmentList.APPOINTMENTTIME">Appointment Time</span></th>
                                      <th class="hidden-lg"></th>
                                 </tr>
                            </thead>
 
                             <tbody>
                                   <tr data-ng-repeat="item in pagedItems[currentPage] | filter: search " >
                                        <td class="">
                                               <a ng-click="selectShipment(item)" class="btn btn-sm btn-rounded btn-default hidden-xs hidden-sm hidden-md">
                                                <i class="fa fa-edit"></i>Select</a>
                                         </td>
                                       <td>{{item.TKNUM}}</td>
                                       <td>{{item.EDORT01}}</td>
                                       <td>{{item.SHIPTO_NAME}}</td> 
                                       <td>{{item.DPREG | date: 'MM/dd/yyyy'}} at {{item.UPREG}}</td>
                                        <td class="hidden-lg"><a>
                                            <i class="fa fa-angle-right fa-2x"></i></a>
                                        </td>
                                    </tr>
                            </tbody>


                            <tfoot>
    
                                <td colspan="2">
                                        <div class="text-center">
                                          <small class="text-muted inline m-t-sm m-b-sm">currentPage: {{currentPage|json}}</small>
                                        </div>
                                </td>
                                <td colspan="4">
                                    <div class="pagination pull-right">
                                        <ul class="pagination pagination-sm m-t-none m-b-none">
                                            <li ng-class="{disabled: currentPage == 0}">
                                                <a href ng-click="prevPage()">« Prev</a>
                                            </li>

                                            <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                                                ng-class="{active: n == currentPage}"
                                            ng-click="setPage()">
                                                <a href ng-bind="n + 1">1</a>
                                            </li>

                                            <li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
                                                <a href ng-click="nextPage()">Next »</a>
                                            </li>
                                        </ul>                                       
                                    </div>
                                </td>
                            </tfoot>
                          </table>

                        </div> 
                    
                <div class="modal-footer ng-scope"><button class="btn btn-default" data-ng-click="hideShipmentSearch()">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>   <!-- end of task add div--> 
    
</div>

