  <!-- navbar -->
  <div data-ng-include=" 'tpl/blocks/header.html' " class="app-header navbar">
  </div>
  <!-- / navbar -->

  <!-- menu -->
 <!-- <div data-ng-include=" 'tpl/blocks/aside.html' " class="app-aside hidden-xs {{app.settings.asideColor}}">
  </div>-->
  <!-- / menu -->

  <!-- content -->
  <div class="app-content" style="margin-left: 0px">
    <div class="app-content-body fade-in-up bg-white" ui-view></div>
  </div>
  <!-- /content -->

  <!-- footer -->
  <div class="app-footer wrapper b-t bg-white">
    <span class="pull-right">{{app.version}} <a href ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
    &copy;Copyright Madix Inc.
  </div>
  <!-- / footer -->

  <!--<div data-ng-include=" 'tpl/blocks/settings.html' " class="settings panel panel-default">
  </div>-->
